$nar_background_color : #222222;
$nar_background_color2 : #444;
$nar_background_button_press: #181818;
$nar_background_button_press_light: #ccc;

$nar_regular_background: $nar_background_color2;

$dark_text_color : $nar_background_color;

$dark_background: $nar_background_color;
$medium_background: $nar_background_color2;

$selected_color: #e4caa5;
$selected_text_color: $selected_color;
$selected_text_color_dark: #181883;

$exit_red: #8d0c27;

$main_backgroud_darker: #302626;
$main_backgroud: #382C2C;

//http://colorpalettes.net/color-palette-2070/

$setup_area: #222;
$setup_chat: $main_backgroud;


$rolesListBackground : #1A1A1A;
$tabletStartHover: #1C1C1C;

//http://colorpalettes.net/color-palette-3140/
$tablet_left_background: $main_backgroud;

$target_deselected: #403838;
$target_selected: #655;
$target_selected_hover: #6E5E5E;
$target_active: #a99;
$target_half_right_selected: #8E7E7E;

$selected_tab_label_color: #7A2707;
$chat_tab_selected: $selected_color;
$chat_active_arrow: $selected_color;
$chat_background: $main_backgroud_darker;
$chat_tab_background: $tablet_left_background;


$tablet_leave: $nar_background_color2;
$tablet_leave_hover: $target_selected_hover;
$tablet_leave_active: $target_active;
