@import 'colors';


* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ui-page{
	background-color: #302626;
}

ul, .header, #genButton{
	width: 49vw;
	font-size: 200%;
	float: left;
}

.ui-listview, .ui-listview>li{
	width: 39vw;
	margin-right: 5vw;
	margin-left: 5vw;
}

#sortable{
	cursor: pointer;
}

#urlInput{
	width: 40vw;
	margin-left: 1.5vw;
	display: inline-block;
	font-size: 200%;
}

#queryButton{
	width: 20vw;
	display: inline-block;
	margin-right: 36vw;
	font-size: 200%;
}

.header{
	color: $target_selected;
	text-shadow: 0 1px 0 black;
	font-size: 200%;
	margin-top: 1.5vh;
	margin-bottom: 1.5vh;
	text-align: center;
}

.ui-listview .ui-li-static{
	text-align: center;
	background-color: $target_deselected;
	text-shadow: initial;
}

.copiedText{
	float: left;
	clear:both;
	width: 100%;
	color: green;
	font-size: 200%;
	margin-left: 3vw;
	display: none;
}

#genButton{
	width: 40vw;
	margin-left: 5vw;
}

#genText{
	height: 20vh;
	margin-left: 11vw;
	width: 78vw;
}


.votepopup{
	background-color: $nar_background_color;
	position: fixed;
	top: 20vh;
	height: 60vh;
	right: 10vw;
	width: 80vw;
	border-radius: 2vw / 1vh;
	dispLay: none;
}

#votepopupexit{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: initial;
}


#popupheader{
	width: 80vw;
	dispLay:block;
	text-shadow: initial;
	font-size: 250%;
	margin-top: 1vh;
	margin-bottom: 1vh;
	color: $nar_background_button_press_light;
	text-align: center;
	cursor: pointer;
}

#votelist{
	text-align: center;
	list-style-type: none;
	width: 80vw;
	text-shadow: initial;
	font-size: 350%;
	color: white;

	li{
		text-shadow: initial;
		margin-top: 1.5vh;
		margin-bottom: 1.5vh;
	}
}

@media (min-device-width : 600px) and (orientation: landscape){
	ul, .header, #genButton{
		font-size: 100%;
	}

	#popupheader{
		width: 50vw;
		left: 25vw;
		font-size: 100%;
	}

	#votelist{
		font-size: 150%;
		width: 50vw;
		left: 25vw;
	}

	.votepopup{
		width: 50vw;
		left: 25vw;
	}
}


@media (min-device-width : 1100px) and (orientation: landscape){
	.ui-listview, .ui-listview>li, .header, #genButton{
		width: 25vw;
		margin-right: 3vw;
		margin-left: 3vw;
	}

	.ui-listview:first-of-type{
		clear: both;
	}

	#genText{
		position: fixed;
		right: 5vw;
		width: 30vw;
		top: 20vh;
	}
	#genButton{
		margin-left: 5.5vw;
	}

	.copiedText{
		position: fixed;
		right: 10vw;
		bottom: 40vh;
		width: auto;
	}
}
