@import 'colors';
@import 'shared';

$nar_background_color2 : #444;

$over_view_border_thickness: 1px;
$norm_text_color: #F2F2F2;

$nav_button_height : 10vh;
$overview_role_card_height: 33%;


$main_chat_margin: 1.2vw;

$chat_input_height: 6vh;

@mixin setupListStyle($span_size){
	.rolesSetupHeaders{ //header
		height: $span_size;
	}

	ul{ //ul
		top: $span_size;
		height: 100% - $span_size;
	}
}

@mixin floating_background{
	border-radius: 8% / 4%;
	background: $nar_background_color2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media (min-device-width : 600px) and (orientation: landscape){
	#tablet{
		color: rgb(255, 165, 0);
	}

	.nav_bar{
		font-size: 70%;
	}

	img.miniIcon{
		float: left;
	}

	.miniIcon{
		cursor: pointer;
		transition: color 0.3s, opacity 0.1s;
	}

	.miniIconPic{
		display: initial;
	}

	#miniIconVisualHighlight{
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
	}

	#miniIconVisualHighlight.miniIconHover{
		opacity: 1;
	}

	#miniIconVisual.miniIconHover{
		opacity: 0;
	}


	$miniIconPic_width: 3vw;
	.miniIconPic{
		margin-left: $miniIconPic_width;
		height: $nav_button_height;
		width: $nav_button_height;
	}

	#miniIconTextWrapper{
		height: $nav_button_height;
		top: 0;
		float: left;
		margin-left: 2vw;
	}

	#miniIconText{
		height: $nav_button_height;
		margin-left: 15vw;
		font: 400% "Impact";
	}

	.miniIconHover{
		color: $selected_text_color;
		//text-shadow: 3px 3px $nar_background_button_press;
	}

	.tablet_home #nav_tab_1{
		display: none;
	}

	$nav_bar_padding: 0.75%;
	.tablet_home .nav_bar{
		$nav_button_width : 10vw;
		.nav_button{
			width: $nav_button_width;
			height: $nav_button_height;
			position: fixed;
		}
		#nav_tab_2{
			left: initial;
			right: (3 * $nav_button_width);
			//left: ($nav_button_width);
		}
		#nav_tab_3{
			left: initial;
			right: (2 * $nav_button_width);
			//left: (2 * $nav_button_width);
		}
		#nav_tab_4{
			left: initial;
			right: $nav_button_width;
			//left: (3 * $nav_button_width);
		}
		#nav_tab_5{
			left: initial;
			right: 0;
			//left: 100% - $nav_button_width;
		}

		border-bottom: 0.5px solid $over_view_border_color;
		background: $medium_background;
	}

	.tablet_home .fourButtonNav{
		$nav_button_width : 10vw;
		.nav_button{
			left: initial;
			width: $nav_button_width;
		}
		#nav_tab_2{
			right: (2 * $nav_button_width);
		}
		#nav_tab_3{
			left: initial;
			right: $nav_button_width;
		}
		#nav_tab_4{
			left: initial;
			right: 0;
		}
	}

	$setup_nav_height: 12vh;
	$nav_button_width : 10vh;
	.tablet_setup .nav_bar{
		display: none;
	}

	.tablet_setup .chat_input, .tablet_setup #miniIconTextWrapper{
		display: none;
	}

	.nav_button .nav_button_text{
		height: auto;
	}


	$tablet_nav_pane_width: 30vw;
	.tablet_game .nav_bar{
		position: fixed;
		width: 100%;
		height: $nav_button_height;

		font-size: 50%;


		@include nar_border;

		.miniIcon{
			display: none;
		}

		$game_nav_button_width: $tablet_nav_pane_width / 5;
		.nav_button{

			width: $game_nav_button_width;
			left: initial;

			z-index: 1;
		}

		.fa{
			top: 1.5vh;
		}

		#nav_tab_5{
			right: 0;
		}

		#nav_tab_4{
			right: $game_nav_button_width;
		}

		#nav_tab_3{
			right: 2 * $game_nav_button_width;
		}

		#nav_tab_2{
			right: 3 * $game_nav_button_width;
		}

		#nav_tab_1{
			right: 4 * $game_nav_button_width;
		}
	}

	#home_pane, #emporium_pane{
		border: 0;
	}

	$host_button_width: 40%;
	#logo {
		left: (100% - $host_button_width - 10%) / 2;
		width: $host_button_width + 10%;
	}

	#gameHostBox{


		.gameHostToggle{
			width: 30%;
			margin-bottom: 5%;
			height: 6vh;
		}

		.right_toggle_border{
			margin-left : 20%;
		}

		.left_toggle_border{
			margin-right : 20%;
		}

		select{
			width: 50%;
			margin-left: 25%;
			padding: 0;
			font-size: 200%;
			margin-bottom: 5%;
		}
	}

	.gameHost_title{
		margin-top: 3vh;
		margin-bottom: 3vh;
		font-size: 300%;
	}

	#gameHost_close{
		font-size: 350%;
	}

	#gameHost_submit{
		height: 9vh;
	}

	#gameHost_info{
		font-size: 1.2rem;
		margin-right: 20%;
		margin-left: 20%;
		max-height: 16vh;

		li{
			padding-left: 5%;
			padding-right: 5%;
		}
	}

	.enter_game_buttons{
		left: (100% - $host_button_width) / 2;
		width: $host_button_width;

		font-size: 250%;
	}

	.gameEntryToggle, .gameHostToggle{
		width: ($host_button_width * 2) / 5;
	}


	$chat_ticker_expander_height: 75%;
	$chat_ticker_expander_width: 11%;
	#chat_ticker_expander{
		width: $chat_ticker_expander_width;
		height: $chat_ticker_expander_height;
		top: calc(-1 * #{$chat_ticker_expander_height});

		.fa{
			top: -30%;
			font-size: 400%;

		}
	}

	$emp_sort_height: 7vh;
	$emp_sort_width: 15%;
	$emp_sort_margin_l_r: 11%;
	$emp_sort_margin_t_b: 3vh;
	.emp_sort_button{
		width: $emp_sort_width;
		padding-top: 0;
		padding-bottom: 0;
		margin: $emp_sort_margin_t_b $emp_sort_margin_l_r - 1% $emp_sort_margin_t_b $emp_sort_margin_l_r;

		font-size: 120%;
	}

	.emp_title{
		font-size: 200%;
		width: 100% - (2 * $emp_sort_width) - (4 * $emp_sort_margin_l_r);
		margin-top: $emp_sort_margin_t_b;
		margin-bottom: $emp_sort_margin_t_b;
		padding: 0;
		height: $emp_sort_height;
	}

	$emp_height: 15vh;
	#emp_selector{
		height: $emp_height;
	}

	$emp_arrow_height: 10vh;
	$emp_margin: 4%;
	.emporium_arrows{
		position: absolute;
		top: ($emp_height - $emp_arrow_height) / 2;
		height: $emp_arrow_height;
		//width: 5vw;
		margin: $emp_margin / 2;
		margin-top: 0;
		margin-bottom: 0;
		padding: 2% 1vw;
	}

	$emp_selector_width: 60vw;
	#emp_selector{
		width: $emp_selector_width;
		margin-left: (100vw - $emp_selector_width) / 2;
	}

	$emp_unselected_width: 11vw;
	.emporiumUnselected{
		top: calc((#{$emp_height} / 2) - #{$emp_unselected_width} / 2);
		height: $emp_unselected_width;
		width: $emp_unselected_width;
		img{
			max-width: $emp_unselected_width * 0.8;
			max-height: $emp_unselected_width * 0.8;
			margin-left: calc(#{$emp_unselected_width} * 0.1 - 4px);
		}

		span{
			font-size: 80%;
		}
	}

	$emp_selected_width: 15vw;
	.emporiumSelected{
		top: calc((#{$emp_height} / 2) - #{$emp_selected_width} / 2);
		height: $emp_selected_width;
		width: $emp_selected_width;
		img{
			max-width: $emp_selected_width * 0.8;
			max-height: $emp_selected_width * 0.8;
			margin-left: calc(#{$emp_selected_width} * 0.1 - 4px);
		}

		span{
			font-size: 100%;
		}
	}

	#emporiumPic2{
		left: calc(#{$emp_margin} + 2vw + (#{$emp_unselected_width} / 1.4));
		z-index: 1;
	}

	#emporiumPic3{
		left: calc((#{$emp_selector_width} - #{$emp_selected_width}) / 2);
	}

	#emporiumPic4{
		right: calc(#{$emp_margin} + 2vw + (#{$emp_unselected_width} / 1.4));
		z-index: 1;
	}

	$emp_win_rate_label_height: 10vw;
	$emp_win_rate_label_margin: 2vw;
	.winRateLabel{
		width: 15vw;
		font-size: 109%;
		margin: $emp_win_rate_label_margin $emp_sort_margin_l_r;
		padding-top: 1vw;
		padding-bottom: 1vw;
		height: $emp_win_rate_label_height;
	}

	.emp_extras_title{
		font-size: 120%;
		margin-left: $emp_sort_margin_l_r - 5%;
	}

	.emp_info_list{
		margin-left: $emp_sort_margin_l_r;
		margin-top: 3vh;
		font-size: 80%;
	}

	#emp_extras{
		height: calc(100% - #{$emp_height} - #{$emp_sort_height} - (2 * #{$emp_sort_margin_t_b}) - #{$emp_win_rate_label_height} - (2 * #{$emp_win_rate_label_margin}));
	}

	#leaderboard_pane{
		border: 0;

		.emporium_arrows{
			margin: 4%;
			top: 1.5vh;
		}

		.slide_pane_center {
			left: 50vw - ($emp_selected_width / 2);
		}

		.emporiumSelectedContent{
			width: $emp_selected_width;
			height: $emp_selected_width;
			font-size: 700%;
		}

		.emp_info_list{
			margin-left: 0;
		}

		.leaderboard_listing{
			margin-right: 20vw;
			margin-left: 20vw;
		}

		.leaderboard_me{
			margin-left: 10vw;
		}
	}

	.leaderboard_label{
		font-size: 135%;
	}

	.slide_pane_selector{
		height: 20vh;
	}

	.leaderboard_first{
		font-size: 200%;
	}

	#leaderboard_list{
		font-size: 150%;
	}

	#profile_pane{
		border: 0;
	}

	#profile_role_selector{
		width: 20%;
		font-size: 125%;
		padding: 1%;
		margin-left: 10%;

		option{
			font-size: 100%;
		}
	}

	.displayNameEditable{
		font-size: 200%;
		margin-top: 1%;
	}

	#profile_editName{
		margin-top: 8%;
	}

	.profile_points, #profile_points_label{
		font-size: 155%;
		margin-left: 10%;
	}

	#profile_pie_container{
		float: left;
		padding-right: 5%;
		margin-top: 2%;
		border-right: 2px dashed $norm_text_color;
	}

	#profile_text_lists{
		margin-top: 4%;
		float: left;
		width: 40%;
	}

	.profile_title{
		font-size: 135%;
		margin-left: 13%;
	}

	.profile_list{
		font-size: 125%;
		margin-bottom: 2%;
		margin-left: 21%;
	}

	#profile_pane .logout_button{
		width: 50%;
		margin-left: 25%;
		font-size: 300%;
	}

	//End of home page

	/*************************/

	// Setup page

	#setup_page{
		top: 0;
		height: 100%;
	}


	$roles_pane_width: 24%;
	$setup_padding : 2%;
	$setup_padding_top: 3vh;
	$setup_padding_bot: 4vh;
	.inviteLink{
		position: absolute;
		top: $setup_padding_top;
		left: initial;
		right: $roles_pane_width + ($setup_padding * 2);
		height: initial;
		width: initial;


		margin-top: 1vh;
		margin-right: 1vw;

		font-size: 300%;

		z-index: 1;

		@include floating_background;

		*{
			text-align: initial;
			background: initial;
		}

		.inviteLinkGameID{
			position: initial;
		}
	}

	.gameIDHeaderLabelLong{
		position: absolute;
		height: auto;
		text-decoration: none;
    	border-bottom: 0.5px solid $norm_text_color;
	}


	.gameIDBox, .gameIDBox span{
		font-size: 60%;
	}

	.gameIDBox .gameIDArea{
		font-size: 80%;
	}

	.inviteLinkGameID{
		width: 100%;
		font-size: 45%;
	}

	.gameIDHeaderLabel{
		top: 1%;
		left: 1%;
	}

	.gameIDArea{
		top: 1%;
		left: 90%;
	}

	.inviteLinkURL{
		display: none;
		right: initial;
		width: 100%;
		padding: 0;

		*{
			position: absolute;
			z-index: 5;
			height: 40%;
		}

		span{
			left: 3%;
			font-size: 60%;
			bottom: -8%;
		}

		textarea{
			left: 35%;
			font-size: 40%;
			bottom: -15%;
		}
	}

	#publicBetaWarning{
		position: fixed;
		display: initial;

		width: 25vw;
		height: $setup_nav_height;
		top: $nav_bar_padding;
//		left: calc(#{$nav_button_width} + 1vh + #{$inviteLinkWidth} + 3vh);

		@include floating_background;

		font-size: 100%;
		padding: 1%;

		color: yellow;

		a{
			color: $norm_text_color;
		}
	}


	$invite_box_height: 10vh; //includes padding between this and roles box
	#tabletInvite{
		display: initial;

		background-color: $setup_area;
		@include nar_border;
		right: 0;
		top: $setup_padding_top;
		height: $invite_box_height;
		width: $roles_pane_width;
		margin-right: $setup_padding;
	}

	.tablet_setup_leave{
		width: 31.5%;
		text-align: center;

		margin-top: $invite_box_height / 2;
		//margin-top: $invite_box_height / 2 - 0.5vh;
		transform: translateY(-50%);
		cursor: pointer;
		display: inline-block;
		color: $tablet_leave;

		i{
			font-size: 175%;
			height: 100%;
		}

		span{
			margin-top: 0.5vh;
			display: block;
		}
	}

	.tablet_setup_leave:hover{
		color: $tablet_leave_hover;
	}

	.tablet_setup_leave:active{
		color: $tablet_leave_active;
	}

	//Roles List Pane
	$roles_padding_top: 2vh;
	$invite_box_area : $invite_box_height + $setup_padding_top + $roles_padding_top;
	$roles_header_height: 7vh;
	$startButtonHeight: 9vh;
	#ingameRolesPane{
		position: fixed;
		width: $roles_pane_width;
		height: 100vh - $invite_box_area - $setup_padding_top;
		bottom: $setup_padding_top;

		border: 0;
		background-color: $setup_area;
		margin-right: $setup_padding;

		top: $invite_box_area;

		.rolesSetupHeaders{
			position: initial;
			font-size: 180%;
		}

		@include nar_border;
	}

	#inGameRolesHeader{
		width: 100%;
		height: $roles_header_height;
		display: inline-block;
	}

	//Roles List UL
	#setup_roles_list{

		text-align: center;

		border-radius: 6% / 2%;
		background-color: $rolesListBackground;

		li{
			padding-left: 0;
			padding-right: 0;
		}
	}

	#setup_roles_list{
		height: 100vh - $invite_box_area - $roles_header_height - $setup_padding_bot;
	}

	.isHost{

		#setup_roles_list{
			height: 100vh - $startButtonHeight - $invite_box_area - $roles_header_height - $setup_padding_bot;
			padding-bottom: 1vh;
		}

		#notMobileStartButton{
			display: initial;
		}
	}

	#notMobileStartButton{
		position: fixed;
		width: $roles_pane_width;
		height: $startButtonHeight;
		bottom: $setup_padding_bot;
		right: $setup_padding;

		text-align: center;
		font-size: 250%;
		font-weight: bold;

		color: #159C0B;
		cursor: pointer;

		div{
			position: fixed;
			display: inline-block;
			bottom: $startButtonHeight / 2 + $setup_padding_bot;
			transform: translateY(50%);
			width: $roles_pane_width;
			right: $setup_padding;
		}
	}

	#notMobileStartButton:hover{
		background-color: $tabletStartHover;
	}

	#notMobileStartButton:active{
		background-color: $nar_background_button_press;
	}



	.rolesSetupList{
		position: initial;
		padding-top: initial;
		width: 84%;
		margin-left: 8%;
	}

	#sound_toggle{
		display: none;
	}

	$gen_settings_top: $setup_nav_height;
	$scrollable_setting_pane_width: 100% - $roles_pane_width - (3 * $setup_padding);
	#setup_gen_settings_pane{
		position: initial;
		height: auto;
		width: $scrollable_setting_pane_width;
		margin-top: $setup_padding_top;
		margin-bottom: $setup_padding;
		margin-left: $setup_padding;
		padding-right: $setup_padding;
		padding-left: $setup_padding;
		padding-bottom: 0;

		font-size: 0.8rem;
		background-color: $setup_area;

		@include nar_border;

		#gen_rules_edit_name_pane{
			width: 50%;
			padding-left: 3%;
		}

		.gen_rules_plus_minus span{
			left: 62%;
		}
	}

	.isHost #setup_gen_settings_pane .gen_rules_plus_minus span{
		left: 72%;
	}

	.isHost #setup_gen_settings_pane .gen_rules_plus_minus span{
		left: 59%;
	}

	.gen_rules_section{
		.gen_rules_input{
			padding-left: 3%;
		}
	}

	#general_settings_header{
		display: block;
		height: auto;
		padding-top: 1%;
		padding-bottom: 2%;

		font-size: 200%;

		.fa{
			position: initial;
			width: auto;
			margin-left: 1%;
			height: auto;
		}
	}



	.gen_rules_section{
		width: 33%;
		float: left;
	}

	.isHost .gen_rules_section{
		width: 50%;
	}

	#setup_gen_settings_pane #gen_rules_edit_name_pane{
		margin-bottom: 7%;
	}

	.rolesSetupPickerPane {
		.rolesSetupList{
			text-align: center;
		}
		.fa{
			padding-top: 2%;
			font-size: 100%;
		}
	}

	.isHost{
		.rolesSetupList{
			text-align: left;
		}
	}

	$card_width : 30%;
	$card_margin : 0;
	.rolesSetupPickerPaneAdder{
		position: initial;
		width: $card_width - $setup_padding;
		margin-left: $setup_padding;
		float: left;
		clear: both;

		border-right: 0;

		.rolesSetupHeaders{
			position: initial;
			display: block;
			width: 100%;

			padding-top: initial;
			font-size: 180%;
			text-align: center;
			text-decoration: underline;
		}

		.rolesSetupList{
			position: initial;
			height: auto;
			//width: $card_width;
			overflow-y: auto;

			li{
				position: relative;

				padding: 1% 5%;

				margin-right: ($card_margin / 2);
				margin-left: ($card_margin / 2);
			}
		}

		.nano{
			height: auto;
		}
	}

	#setup_page .roleSetupCard{
		position: initial;
		width: 100% - $card_width - $roles_pane_width - (2 * $setup_padding);
		border: 0;

		font-size: 50%;
		float: left;

		overflow-y: auto;
		background-color: $setup_area;

		@include nar_border;
		border-left: 1px dashed $norm_text_color;

		.roleCardHeader{
			display: block;
			position: initial;
			height: auto;
			text-align: center;
			padding-left: initial;
			padding-top: initial;
		}

		.roleCardExplanationText{
			position: initial;
			display: block;
			width: 100%;
			text-align: center;
			padding-left: 20%;
			padding-right: 20%;
			height: auto;
		}

		hr{
			height: auto;
			width: 70%;
			margin-left: 15%;
		}

		.roleCardSettingsAdapter{
			height: auto;
			color: $norm_text_color;

			font-size: 0.85rem;

			div{
				margin-top: 5%;
				margin-left: 25%;
			}

			input{
				width: 2.2vw;
				height: 2.2vh;
			}
		}
	}

	$team_catalogue_height: 27vh;
	#team_catalogue{
		padding-top: 0.25%;
		background-color: $setup_area;

		.rolesSetupHeaders{
			height: 20%;
		}

		.rolesSetupList{
			height: 80%;
			padding-top: 1%;
		}

		hr{
			margin-top: 3%;
			margin-bottom: 3%;
		}

		.roleSetupCard{
			float: left;
			//margin-top: ($team_catalogue_height * -1);

			.roleCardHeader{
				margin-top: 2%;
				margin-bottom: 2%;
			}
		}
	}

	.teamPickerEditor{
		height: $team_catalogue_height;
	}

	.setup_partial_custom{
		.teamPickerEditor{
			margin-bottom: $setup_padding;
		}
	}

	.teamTieButton{
		float: left;
		position: initial;
		width: (($card_width / 2) - (2 * $setup_padding));
		height: 4vh;
		margin-left: $setup_padding;
		//margin-right: $setup_padding * 10; //to push the role card down
		margin-top: ($setup_padding / 1.5);
		margin-bottom: ($setup_padding / 1.5);

		font-size: 100%;
	}

	#newTeamButton{
		clear: both;
		margin-left: (2 * $setup_padding);
	}

	$role_catalogue_height: 47vh;
	.rolePickerEditor{
		height: $role_catalogue_height;
	}
	#role_catalogue{
		padding-top: 0.25%;
		background-color: $setup_area;

		.rolesSetupHeaders{
			height: 10%;
		}

		.rolesSetupList{
			height: 90%;
			padding-top: 1%;
		}

		hr{
			margin-top: 8%;
			margin-bottom: 8%;
		}

		.roleSetupCard{
			margin-top: ($role_catalogue_height * -1);
			margin-bottom: $setup_padding;

			.roleSetupImage{
				top: 3%;
			}

			.roleCardHeader{
				margin-top: 3%;
				margin-bottom: 3%;
			}

			.roleCardExplanationText{
				top: 20%;
			}
		}
	}

	#table_wrapper{
		float: left;

		height: auto;
		width: 100%;
		margin-bottom: $setup_padding;
	}

	$chat_height: 100vh - $setup_padding_top;
	#setup_lobby_pane{
		position: initial;
		float: left;
		height: $chat_height;
		width: $card_width - $setup_padding;
		margin-left: $setup_padding;
		background-color: $setup_area;

		list-style: inside;

		@include nar_border;
		border-right: none;
	}

	#setup_lobby_pane .inviteLink{
		display: none;
	}

	.lobbyHeader{
		display: block;
		width: 100%;
		height: 5vh;
		padding-top: 1vh;
		padding-bottom: 1vh;

		font-size: 1rem;
		font-weight: bold;
		text-align: center;
	}

	#setup_players_list{
		width: 100%;
		height: calc(100% - 7vh);
		margin: 0;

		list-style: none;
		font-size: 110%;


		li{
			display: list-item;
			span{
				display: inline;
				margin-left: 6vw;
			}
		}
	}

	.playerListSetupMarking{
		left: 1.5vw;
	}

	.chat_input{
		display: none;
	}

	#setup_chat_pane{
		position: relative;
		float: left;
		height: $chat_height;
		width: 100% - $roles_pane_width - $card_width - (2 * $setup_padding);
		z-index: -1; //stops bleed on the team editor

		@include nar_border;
		border-left: dashed $norm_text_color;
		background-color: $setup_chat;

	}

	#setup_chat_pane .chat_input{
		position: absolute;
		margin-right: $setup_padding;
		padding-left: $setup_padding;

		display: initial;
	}

	#teamEditorBackground{
		position: fixed;
		height: 100vh;
		top: 0;
	}

	#teamEditorPane{
		.title{
			font-size: 200%;
		}

		.fa{
			font-size: 200%;
			width: 5%;
		}

		.tiebreakerPlusMinus {
			font-size: 100%;
		}

		.fa-arrow-down{
			margin-right: 30%;
		}

		.fa-arrow-up{
			margin-right: 3%;
		}
	}

	.teamSub{
		font-size: 125%;
		margin-bottom: 5%;
	}

	.teamEditorLabel, .teamEditorInput{
		font-size: 132.5%;
	}

	.teamEditorLabel{
		margin-left: 10%;
	}

	.teamEditorInput, .teamEditorDescriptionLabel {
		margin-right: 10%;
	}

	.teamEditorDescriptionLabel{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	#teamDescription{
		font-size: 150%;
		padding: 1%;
		height: 20%;
	}

	.teamEditorButton{
		height: 10%;
		font-size: 150%;
	}

	.teamEditor2Element .teamEditorRuleLabel{
		margin-left: 25%;
		width: 30%;
	}

	.teamEditorRuleLabel, .teamEditor2 .settings_toggle, #teamEditorPane .team_plus_minus_label, #teamEditorPane .team_plus_minus_value{
		font-size: 125%;
	}

	#teamEditorPane .team_plus_minus_label{
		margin-right: 15%;
	}

	.teamEditor2 .settings_toggle{
		width: 10%;
	}

	span.teamEditor3Element, ul.teamEditor3Element, span.teamEditor4Element, ul.teamEditor4Element{
		font-size: 125%;
		width: 26%;
	}

	.leftLabel, #teamEditorAvail, #teamEditorAllies{
		margin-left: 16%;
		margin-right: 8%;
	}


	.rightLabel, #teamEditorBlackL, #teamEditorEnemies{
		margin-left: 8%;
		margin-right: 16%;
	}

	#tieBreakerUL{
		font-size: 125%;
	}

	span.tieBreakerElement{
		font-size: 90%;
	}

	.tieNumberLabel{
		margin-left: 25%;
	}

	.tieTextLabel{
		margin-left: 30%;
	}

	// End of Setup


	//main game

	#main_header{
		display: initial;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw - $tablet_nav_pane_width;
		height: $nav_button_height;

		color: $norm_text_color;
	}

	#day{
		font-size: 1.3rem;
		margin-top: 0.5vh;
		margin-left: 1vw;
	}

	#livingSpan{
		font-size: 1.1rem;
		margin-left: 1vw;
	}

	#time{
		position: fixed;
		top: 0;
		width: 100vw - $tablet_nav_pane_width;
		height: $nav_button_height;

		padding-left: $tablet_nav_pane_width;
		text-align: center;
		font-size: 1.8rem;
	}

	#your_info_wrapper{
		position: absolute;
		right: 0;
	}

	#your_info_wrapper, #your_exp_pane, #action_nav_pane, #settings_pane{
		width: $tablet_nav_pane_width;
		height: 100%;

	}

	#your_info_wrapper .changeable_display{
		width: 100%;
	}

	#your_info_wrapper .changeable_display, #action_nav_pane{
		font-size: 30%;
	}

	$pic_size: 7vw;
	#your_exp_extras{
		padding-left: 7%;
		padding-right: 7%;
		max-height: calc(68vh - #{$pic_size});
	}

	.overview_list_content{
		width: ($tablet_nav_pane_width / 2);
		height: calc(100% - #{$overview_role_card_height});

		font-size: 125%;
	}

	#graveyard_pane{
		right: 0;
	}

	#game_play_card{
		width: $tablet_nav_pane_width;
		bottom: 0;
		height: $overview_role_card_height;

		img{
			margin-bottom: 4%;
		}
	}

	#your_exp_pane{
		img{
			width: $pic_size;
			height: $pic_size;
		}

		.roleCardHeader, .roleCardSubHeader, .roleCardExplanationText{
			padding-right: 3vw;
		}
	}

	#last_will_button{
		bottom: 8vh;
		height: 7vh;
	}

	.lw_toggle{
		bottom: 3vh;
	}

	#action_nav_pane, #settings_pane{
		right: 0;
		@include nar_border;
	}

	#actions_pane, #settings_pane, .changeable_display{
		//background-color: $tablet_left_background;
	}

	#actions_pane{
		width: $tablet_nav_pane_width;
		bottom: 0;
	}

	$targetable_width: 0.56 * $tablet_nav_pane_width;
	#player_list li.action_targetable_element{
		margin-left: ($tablet_nav_pane_width / 2) - ($targetable_width / 2);
    	width: $targetable_width;

    	.playername{
    		$name_margin: 4vw;
    		margin-left: $name_margin;
    		max-width: $targetable_width - ($name_margin * 2);
    	}
	}

	#playerListPane2{
		width: $tablet_nav_pane_width;
		border: 0;
	}

	#actions_pane #actions_content{
		width: 100%;
	}

	#actions_pane #add_action{
		font-size: 110%;
		margin-left: 20%;
		width: 60%;
		height: 4vh;
	}

	#end_night_button{
		left: initial;
		right: 5vw;
		width: 20vw;
		font-size: 1.1rem;
	}

	$submitted_actions_height : 24vh;
	.pl_show_actions, .pl_show_actions_no_button{
		#player_list{
			height: 100vh - $nav_button_height - $ability_header_size - $submitted_actions_height;
		}

		#actions_pane{
			height: $submitted_actions_height;
			bottom: 0;
		}
	}

	.pl_show_actions{

		#actions_header{
			height: 3vh;
		}

		#actions_content{
			height: calc(#{$submitted_actions_height} - 5vh - 3vh - 2vh);
		}

		#end_night_button{
			height: 5vh;
		}
	}

	.pl_only_button{
		#player_list{
			height: 100vh - $nav_button_height - $ability_header_size - $pl_only_button_height;
		}

		#actions_pane{
			bottom: 0;
		}
	}

	.pl_no_actions {
		#player_list{
			height: 100vh - $nav_button_height - $ability_header_size;
		}
	}

	#settings_pane{
		margin-left: $main_chat_margin / 2;
		@include nar_border;

		.settings_toggle{
			font-size: 110%;
			width: 4.5vw;
			bottom: 1vh;
		}

		#host_settings_title{
			padding-top: 0;
		}

		.settings_title{
			margin-left: 1vw;
			margin-top: 0;
		}

		.left_toggle_border{
			margin-right: 1vw;
			padding-right: 0;
		}

		.right_toggle_border{
			right: 5vw;
		}

		.settings_item{
			margin-left: 2vw;
			width: 26vw;
		}

		.settings_label{
			padding-left: 1vw;
			margin-left: 0;
		}

		#settings_music_link{
			margin: 1vh 0 1vh 0;
			width: 30vw;
		}
	}

	.settings_label{
		margin-left: 4vw;
	}

	#settings_music_link{
		margin-left: 4vw;
	}

	#leaveGameButton{
		font-size: 200%;
	}

	$chat_main_input_height: 5vh;
	$chat_tabs_width: 8vw;
	.tablet_home #chat_tabs_wrapper{
		display: none;
	}

	.tablet_game #chat_tabs_wrapper{
		height: 100vh - $nav_button_height;
		bottom: 0;
		padding-bottom: $chat_main_input_height;
	}

	.tablet_game #chat_tabs_wrapper{
		display: initial;
		width: $chat_tabs_width;
	}

	.tablet_game #chat_tabs{
		width: $chat_tabs_width;

		.mobileChatLabel i{
			display: none;
		}
	}

	#chat_tabs{
		display: flex;
		$chat_top_padding: 2vh;
		overflow-x: hidden;

		*{
			list-style: none;
		}

		.chatTab{
			height: auto;
			width: $chat_tabs_width;

			display: block;
			position: relative;
			margin-top: 2vh;

			a{
				display: none;
			    background-color: black;
			    color: #fff;
			    text-align: left;
			    border-radius: 6px;
				padding: 5px 1vw;
				position: absolute;
			    z-index: 1;
				top: 50%;
    			transform: translateY(-50%);
			    left: 100%;
			    font-size: 1.1rem;
			    width: auto;
			    white-space: nowrap;
			    border: 0;
			}

			a::after{
				content: "";
			    position: absolute;
			    top: 50%;
			    right: 100%;
			    margin-top: -5px;
			    border-width: 5px;
			    border-style: solid;
			    border-color: transparent black transparent transparent;
			}
		}

		.chatTab:last-child{
			margin-bottom:  $chat_main_input_height + 1.5vh;
		}


		.chatTabIcon{
			margin-left: 0;
			margin-right: 0;
			padding-left: 0.5vw;
			font-size: 1.4rem;
			width: 100%;
			text-align: center;
			display: inline-block;
		}

		.activeTab{
			a{
				background: $selected_tab_label_color;
			}

			a::after{
			    border-color: transparent $selected_tab_label_color transparent transparent;
			}

			.chatTabIcon{
				color: $chat_tab_selected;
			}

			.chatPointer{
			display: initial;
				height: 100%;
				width: 1vw;
				position: absolute;
				top: 0;
				right: -0.5vw;
				background-color: $chat_active_arrow;
				border-radius: 0.5vw / 1vw;
			}
		}
	}



	.tablet_game #chat_tabs:hover{
		width: 2 * $chat_tabs_width;
		background-color: #30262680;
		a{
			display: initial;
		}
		.chatPointer{
			display: none;
		}
	}



	#main{
		.chat_pane{
			height: 100%;
			width: 100vw - $tablet_nav_pane_width - $chat_tabs_width;
			left: $chat_tabs_width;

			li .headerLabel{
				margin: 2% 0 2% 0;
			}

			li{
			}

			@include nar_border;
		}

		.chat{
			background-color: $main_backgroud;
			height: 100%;
			border: 0;

			li{
				padding: 0.25% 1% 0.5%;
			}

			li:last-child{
				padding-bottom: 2%;
			}
		}
	}

	#setup_page{
		.chat{
			height: $chat_height - $chat_input_height;
		}
	}

	#pregame_messages li{
		font-size: 130%;
	}

	#pregame_messages .chatPic{
		font-size: 150%;
		width: 3.5vw;
	}

	#messages .chatPic{
		font-size: 120%;
		width: 3.5vw;
		padding-top: 1.3vh;
	}

	#pregame_messages{
		.speakerLabel, .speakerText{
			margin-left: 4.5vw;
		}
	}

	#messages{
		.speakerLabel, .speakerText{
			margin-left: 4vw;
		}

		.speakerLabel{
			margin-bottom: 0.75vh;
		}
	}



	.tablet_home .chat_input{
		display: none;
	}

	.tablet_game .chat_input{
		left: $chat_tabs_width;
		width: 100vw - $tablet_nav_pane_width - $chat_tabs_width;
	}

	.chat_input{
		position: fixed;
		bottom: 0;
		height: $chat_input_height;
		padding-left: 1%;

		font-size: 125%;
	}

	#puppetIcon{
		left: $chat_tabs_width;
		bottom: $chat_input_height;
		font-size: 98%;
		width: 5vw;
		height: $chat_input_height * 0.9;
		margin-bottom: 0;
	}
	#puppetText{
		display: none;
		bottom: $chat_input_height;
		left: 5vw + $chat_tabs_width;
		font-size: 105%;
		height: $chat_input_height * 0.9;
		margin-bottom: 0;
	}

	#puppetList{
		left: $chat_tabs_width;
		bottom: $chat_input_height;
		font-size: 100%;

		li{
			padding-left: 6vw;
			padding-right: 3vw;
		}
	}

	.chat_active{
		#main .chat{
			height: calc(100% - #{$chat_main_input_height});
		}
	}


	.newFeedbackPopup{
		width: 50vw;
		margin-left: 25vw;
	}

	.font-size{
		font-size: 300%;
	}

	.feedbackPic{
		max-width: 50%;
		max-height: 50%;
	}

	.newFeedbackContents{
		list-style: square;
		margin-left: 4%;
		margin-right: 4%;
	}

	.feedbackNext{
		width: 60%;
		right: 20%;
	}

	//end main

	#userPopup{
		position: fixed;
		width: 50vw;
		left: 25vw;
		max-height: 70vh;
		height: auto;
		top: 15vh;

		overflow-y: auto;
	}

	#userPopupExtras{
		margin-bottom: 4vh;
	}

	.userPopupButton{
		height: 7.8vh;
		position: initial;
	}
}
