

@media (min-device-width : 600px) and (orientation: landscape){
	#gameHostBox{
		height: 68vh;
	}

	.chat{
		padding-bottom: 1vh;
	}
}

@media (min-device-width: 900px) and (orientation: landscape){

	#pregame_messages li{
		font-size: 115%;
	}

	#pregame_messages .chatPic {
		width: 2.5vw;
	}

	#pregame_messages .speakerLabel, #pregame_messages .speakerText{
		margin-left: 4vw;
	}
}

@media (min-device-width: 1000px) and (orientation: landscape){
	#chat_ticker{
		width: 1000px;
		left: calc(50% - 500px);
	}

	.emp_title{
		margin-bottom: 6vh;
	}

	.feedbackPic{
		max-width: 35%;
		max-height: 35%;
	}

	.newFeedbackContents{
		max-height: 18vh;
	}

	.feedbackNext{
		max-height: 7vh;
	}

	$chat_tabs_wrapper: 8vw; //1 vw difference
	.tablet_game #chat_tabs_wrapper, #chat_tabs .chatTab {
		width: $chat_tabs_wrapper;
	}
	#puppetList, #puppetIcon, .tablet_game .chat_input, #main .chat_pane{
		left: $chat_tabs_wrapper;
	}
	#puppetText{
		left: 11vw; //orginally 12vw
	}

	#main .chat_pane, .tablet_game .chat_input{
		width: 62vw; //originally 63vw;
	}

	#chat_tabs .chatTab a{
		padding-left: 0.75vw;
		padding-right: 0.75vw;
	}
}


@media (min-device-width : 1100px) and (orientation: landscape){
	.nav_button .nav_button_text{
		font-size: 1.1rem;
	}

	#chat_tabs .chatTab a{
		left: 104%;
	}
}


@media (min-device-width : 1200px) and (orientation: landscape){
	#end_night_button{
		width: 44%;
		left: 28%;
	}

	#actions_pane #actions_content{
		font-size: 1rem;
	}
}


@media (min-device-width : 1300px) and (orientation: landscape){
	.overview_list_content{
		font-size: 150%;
	}

	#pregame_messages .chatPic{
		width: 1.5vw;
	}

	#pregame_messages .speakerLabel, #pregame_messages .speakerText {
		margin-left: 3vw;
	}

	.leaderboard_label{
		margin-right: 20vw;
		margin-left: 20vw;
	}

	#leaderboard_pane{
		.emporium_arrows{
			margin-right: 20vw;
			margin-left: 20vw;
		}
	}

	#settings_pane #settings_music_link{
		margin-top: 1vh;
		margin-bottom: 1vh;
	}

	#chat_tabs .chatTab a{
		left: 85%;
	}
}

@media (min-device-width : 1439px) and (orientation: landscape){

	.emp_sort_button{
		margin-bottom: 9vh;
	}
	.gen_rules_section{
		width: 33%;
	}

	.leaderboard_label{
		margin-right: 25vw;
		margin-left: 25vw;
	}

	#leaderboard_pane{
		.emporiumSelected{
			max-height: 20vh;
		}
		.emporium_arrows{
			margin-right: 25vw;
			margin-left: 25vw;
		}

		.leaderboard_listing{
			margin-left: 30vw;
			margin-right: 30vw;
		}

		.leaderboard_me{
			margin-left: 20vw;
		}
	}



}

@media (min-device-width : 1800px) and (orientation: landscape){
	#leaderboard_pane{

		.emporiumSelectedContent{
			font-size: 500%;
		}
	}

	#chat_tabs .chatTab a{
		padding-left: 0.5vw;
		padding-right: 0.5vw;
	}
}
