@import 'colors';
@import 'shared';

$norm_text_color: #F2F2F2;
$black_text_color: #232323;

$selected_list_element_color: #444;
$selected_list_element_color_bg: #333;
$selected_tab_color: #888;
$button_background_color: #eee;
$button_color: #f2f0bc;
$button_delete_leave_color: #FF6666;


@mixin setupListStyle($span_size){
	.rolesSetupHeaders{ //header
		height: $span_size;
	}

	ul{ //ul
		top: $span_size;
		height: 100% - $span_size;
	}
}

@mixin floating_background{
	border-radius: 2%;
	background: $nar_background_color2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button:active{
	outline: 0;
}

@font-face{
	font-family: headerFont;
	src: url(JosefinSans-Regular.ttf);
}

html {
	height: 100%;
}

body{
	height: 100vh;
	font-size: 62.5%;
	min-height: 100vh;
}

.miniIcon{
	display: none;
}

@media (max-device-width : 600px){
	#miniIconTextWrapper{
		display: none;
	}
}


$nav_button_width : 20%;
$nav_button_height : 10vh;
$nav_button_text_height: 0.8rem;
.nav_button{
	position: absolute;
	height: 100%;
	width: $nav_button_width;
	top: 0;
	color: white;
	cursor: pointer;

	input{
		width: 100%;
		height: 54%;
		background: none;
		border: 0;
	}

	.fa, .fab{
		position: absolute;
		top: 10%;
		width: 100%;
		text-align: center;
	}

	.nav_button_text{
		position: absolute;
		color: $norm_text_color;
		top: 65%;
		//height: $nav_button_text_height;
		height: auto;
		font-size: $nav_button_text_height;
		text-align: center;
		width: 100%;
	}
}


$gradient_color1 : #999;
$gradient_color2 : #333;

.nav_bar{
	position: absolute;
	display: initial;
	top: 0;
	left: 0;
	height: $nav_button_height;
	width: 100%;

	font-size: 140%;
	background : linear-gradient(180deg, #555555 0%, #555555 0%, $nar_background_color 77%, $nar_background_color 100%);

	.fa, .fab{
		font-size: 1.67rem;
	}
}


$nohost_nav_button_width : 25%;


.mobile{
	#nav_tab_1{
		left: 0;
	}

	#nav_tab_2{
		left: 100% - (4 * $nav_button_width);
	}
	#nav_tab_3{
		left: 100% - (3 * $nav_button_width);
	}
	#nav_tab_4{
		left: 100% - (2 * $nav_button_width);
	}
	#nav_tab_5{
		left: 100% - $nav_button_width;
	}
}


.fourButtonNav{
	.nav_button{
		width: $nohost_nav_button_width;
	}
	#nav_tab_1{
		left: 0;
	}

	#nav_tab_2{
		left: $nohost_nav_button_width;
	}
	#nav_tab_3{
		left: (2 * $nohost_nav_button_width);
	}
	#nav_tab_4{
		left: (3 * $nohost_nav_button_width);
	}
	#nav_tab_5{
		display: none;
	}
}

.gameOver{
	#nav_tab_5{
		.fa, span{
			color: $button_delete_leave_color;
		}
	}
}


.fa, .fab{
	width: 10%;
	position: absolute;
	background: none;
	height: $nav_button_height;
	color: $norm_text_color;
}

.navbarIcon{
	color: $norm_text_color;
}

.selected_nav, .nav_button:hover{
	.nav_button_text{
		color: $selected_text_color;
	}
	.navbarIcon{
		color: $selected_text_color;
	}
}

.selected_nav {
	.nav_button_text{
		font-weight: bold;
	}
}

#mobile, #tablet{
	color: white;
}

.error_text_input{
	color: red !important;
	font-style: italic;
}

.narrInput{
	background: transparent;
	border: none;
	border-bottom: 0.5px solid $norm_text_color;
	color: $norm_text_color;
}



$close_game_widgeth_heights: 23%;
$gen_settings_toggle_border_radius: 5px;
@mixin narButtonStyle{
	border: 1px solid $norm_text_color;
	border-radius: $gen_settings_toggle_border_radius;

	background-color: $button_background_color;
}



body{
	background-color: $main_backgroud_darker;
}



#body_wrapper{
	position: absolute;
	//top: $nav_button_height;
	left: 0;

	width: 100%;
	//height: calc(100% - #{$nav_button_height});
	border: 1px solid $norm_text_color;
}


/* Game Play CSS Info */
#main{
	overflow: hidden;
}
#main_header{
	display: none;
}

.unselected_nav{

}



/* General Info Area */
/* aka 'overview' area */

$chat_ticker_height: 8vh;
#chat_ticker_pane{
	position: fixed;
	width: 100%;
	height: $chat_ticker_height;
	bottom: 0;
	color: white;
	overflow: hidden;

	background-color: $nar_background_color;

	z-index: 2;
}

#chat_ticker_new_message{
	position : absolute;
	width : 100%;
	padding : 1%;
	overflow: hidden;
	font-size: 1.1rem;

	height: $chat_ticker_height;

	.headerLabel{
		text-align: center;
		font-size: 350%;
	}

	.chatPic{
		font-size: 1.5rem;
	}

	.speakerLabel{
		position: fixed;
		font-size: 1.1rem;
		bottom: $chat_ticker_height / 2 + 0.6vh;
	}

	.speakerText{
		position: fixed;
		top: 100vh - ($chat_ticker_height / 2) - 0.5vh;
	}

	.speakerLabel, .speakerText {
	    margin-left: 17vw;
	}
}


$chat_ticker_expander_width: 16vw;
$chat_ticker_expander_height: 5.75vh; //of the chat_ticker width
#chat_ticker_expander{
	position: fixed;
	height: $chat_ticker_expander_height;
	width: $chat_ticker_expander_width;
	text-align: center;
	right: 0;
	bottom: $chat_ticker_height;
	z-index: 1;

	background-color: $nar_background_color;

	.fa{
		/*position: absolute;
		top: -17%;
		right: 0;

		height: 100%;
		width: 100%;*/


		font-size: 1.6rem;
	}
}
#chat_ticker_expander_icon{
	display: table-cell;
	height: $chat_ticker_expander_height;
	position: initial;
}

$unread_ticker_color: #20fc34;;
.unread_ticker{
	color: $unread_ticker_color;
}

#warningPopup{
	display: none;
	position: fixed;
	height: 20%;
	width: 80%;
	left: 10%;
	bottom: 15%;
	z-index: 2;

	border-radius: 7%;
	border: black 10px double;

	background-color: $nar_background_color;

	.fa{
		position: absolute;
		height: 25%;
		width: 10%;
		right: 0;
		top: 0;

		color: red;
	}

	span{
		position: absolute;
		width: 100%;
		top: 28%;

		text-align: center;
		color: $norm_text_color;
		font-size: 270%;
	}
}



#lobby_page{
	position: absolute;
	top: $nav_button_height;
	left: 0;

	width: 100%;
	height: calc(100% - #{$nav_button_height});
}

#home_pane{
	height: 100%;
	width: 100%;

	@include nar_border;
}

$game_entry_button_height: 8%;
$game_entry_padding: 3%;
$host_button_width: 80%;
$gen_settings_toggle_border_radius: 5px;

.enter_game_buttons{
	position: absolute;

	width: $host_button_width;
	height: $game_entry_button_height;
	left: (100% - $host_button_width)/2;

	border: 1px solid $norm_text_color;
	border-radius: $gen_settings_toggle_border_radius;

	background-color: $button_background_color;
	font-weight: bold;
	color: $nar_background_color;

	font-size: 2.3rem;
	cursor: pointer;
}

$host_public_button_top: 50%;
#hostPublicButton{
	top: $host_public_button_top;
}

$joinButton_top: calc(#{$host_public_button_top} + 2 * #{$game_entry_button_height} + 2 * #{$game_entry_padding});
#joinButton{
	top: $joinButton_top;
}

$gameEntryToggle_font_size: 1.2rem;
.gameEntryToggle, .gameHostToggle{
	position: absolute;
	top: calc(#{$host_public_button_top} + #{$game_entry_button_height} + #{$game_entry_padding});

	width: 30%;
	height: $game_entry_button_height;

	text-align: center;
	border: 1px solid $norm_text_color;

	color: $norm_text_color;

	font-size: $gameEntryToggle_font_size;
	cursor: pointer;
}

.gameEntryToggle:hover, .gameHostToggle:hover{
	font-weight: bold;
}

.gameEntryToggle:active, .gameHostToggle:active{
	background: $nar_background_button_press_light;
	color: black;
}



.right_toggle_border{
	border-radius: $gen_settings_toggle_border_radius 0 0 $gen_settings_toggle_border_radius; /* top left, top right, bottom right, bottom left */
}

.left_toggle_border{
	border-radius: 0 $gen_settings_toggle_border_radius $gen_settings_toggle_border_radius 0; /* top left, top right, bottom right, bottom left */
}



#logo {
	position: absolute;
	width: 90%;
	height: 38%;
	cursor: pointer;

	left: 5%;
	top: 10%;

	img{
		position: absolute;
		display: block;
		width: 100%;
		height: auto;
		max-height: 100%;
		max-width: 100%;
	}
}

#logo:active{
	background: $medium_background;
	border-radius: 3%;
}



#togglePrivateButton{
	left: 50%;
}

#togglePublicButton{
	right: 50%;
}

#joinPrivateButton{
	display:none;
}

#gameHost_background{
	display: none;

	z-index: 3;
	width: 100%;
	height: 100vh - $nav_button_height;
}

#gameHostBox{
	display: none;

	z-index: 4;
	position: absolute;
	top: 10%;
	left: 15%;
	width: 70%;
	height: 65vh;

	color: $norm_text_color;
	background: $medium_background;

	border-radius: 2%;
	//@include nar_border;
	//border-color: grey;
	box-shadow: 1px 2px black;

	.gameHostToggle{
		position: initial;
		float: left;

		width: 40%;
		height: 9vh;
		margin-bottom: 10%;
	}

	.left_toggle_border{
		margin-right: 10%;
	}

	.right_toggle_border{
		margin-left: 10%;
	}

	select{
		font-size: 1.5rem;
		width: 80%;
		margin-bottom: 6%;
		margin-left: 10%;

		padding-top: 1vh;
		padding-bottom: 1vh;

		text-align-last: center;

		color : $norm_text_color;
	}
}

#gameHost_close{
	position: absolute;
	right: 1vw;
	height: initial;
	width: initial;

	color: $exit_red;
	font-size: 2rem;
	cursor: pointer;

	transition: color 0.3s;
}

#gameHost_close:hover{
	color: red;
}

.gameHost_title{
	display: block;
	width: 100%;
	margin-top: 4vh;
	margin-bottom: 5vh;

	text-align: center;
	font-size: 1.8rem;
}

#gameHost_info{
	//margin-left: 5%;
	//margin-right: 5%;
	//padding-left: 5%;
	//padding-right: 5%;
	font-size: 1.05rem;
	max-height: 15vh;
	//overflow-y: auto;
	clear: both;

	li{
		padding-left: 5%;
		//padding-right: 5%;
	}
}

#gameHost_submit{
	position: absolute;
	bottom: 6%;
	left: 10%;
	width: 80%;
	height: 10vh;
	margin-top: 3%;

	font-size: 300%;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	color: $dark_background;
}

.enter_game_buttons:hover, .enter_game_buttons:active, #gameHost_submit:hover, #gameHost_submit:active{
	color: $selected_text_color_dark;
}

.enter_game_buttons:active, #gameHost_submit:active{
	background: $nar_background_button_press_light;
}

#gameCodeBox{
	display: none;
	position: absolute;
	top: $host_public_button_top;
	left: calc(50% - #{$host_button_width} / 2 - 2.5px);

	height: 40%;
	width: calc(#{$host_button_width} + 5px);

	background: $nar_background_color;
	border-radius: $gen_settings_toggle_border_radius;

	*{
		position: static;
	}


	.gameCodeInputFields{
		margin-left: 15%;
		margin-bottom: 20px;
		width: 70%;
		height: $close_game_widgeth_heights;

		text-align: center;



		font-size: 1.5rem;
	}

	.gameCodeButtons{
		border: 1px solid $norm_text_color;

		bottom: 2px;

		width: 45%;
		height: $close_game_widgeth_heights;

		border: 1px solid $norm_text_color;
		border-radius: $gen_settings_toggle_border_radius;

		color: $norm_text_color;
		background-color: transparent;
		font-weight: bold;
		margin-right: calc(2.5% - 2px);
		margin-left: calc(2.5% - 2px);

		font-size: 300%;

		cursor: pointer;

		transition: color 0.3s, background 0.3s;
	}

	.gameCodeButtons:active, .gameCodeButtons:hover{
		color: $selected_text_color;
		border-color: $selected_text_color;
		outline: none;
	}

	.gameCodeButtons:active{
		background: $nar_background_button_press;
	}


	#homeInput2{
		height: $close_game_widgeth_heights;
		bottom: calc(25px + #{$close_game_widgeth_heights});
	}

	#homeInput1{
		height: $close_game_widgeth_heights;
		bottom: calc(25px + 2 * #{$close_game_widgeth_heights});
	}

	#gameCodeError{
		display: block;
		margin-bottom: 15px;
		bottom: calc(#{$close_game_widgeth_heights} + 10px);
		height: auto;
		width: 100%;

		font-size: 250%;
		color: red;
		text-align: center;
	}
}

#emporium_pane{
	color: $norm_text_color;

	height: 100%;
	width: 100%;

	@include nar_border;
}

$emp_sort_width: 20%;
$emp_sort_height: 7vh;
$emp_sort_margin: 3%;
.emp_sort_button{
	height: $emp_sort_height;
	width: $emp_sort_width;
	margin: $emp_sort_margin;
	margin-bottom: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
	float: left;

	font-size: 300%;
	border: $norm_text_color 2px solid;
	border-radius: 3%;
	text-align: center;
}

#emp_global_sort{
	float: right;
}

.emp_title{
	width: 100% - (2 * $emp_sort_width) - (4 * $emp_sort_margin) - 4%;
	margin-left: 2%;
	float: left;
	margin-top: $emp_sort_margin;
	margin-bottom: 5%;

	white-space:nowrap;
	text-align: center;
	font-size: 400%;
}

$emp_height: 22vh;
.slide_pane_selector{
	position: relative;
	width: 100%;
	height: $emp_height;
	clear: both;
}

$emp_margin: 4%;
.emporium_arrows{
	position: absolute;
	top: ($emp_height - 7vh) / 2;
	height: 7vh;
	width: 5vw;
	margin: $emp_margin / 2;
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 1vw;
	padding-left: 1vw;
	padding-top: 2%;
	padding-bottom: 2%;

	z-index: 1;
	background-color: $nar_background_color;

	border: 4px $norm_text_color solid;
	border-radius: 5%;
}

.emporium_arrows, .emporiumPic{
	cursor: pointer;
}

.slide_selector_left, .label_left{
	left: 0;
}

.slide_selector_right, .label_right{
	right: 0;
}

.emporiumPic{
	position: absolute;
	border: 4px $norm_text_color solid;
	border-radius: 7%;
	background-color: $nar_background_color2;

	span{
		position: absolute;
		width: 100%;

		text-align: center;
		bottom: 0;
		right: 0;
	}

	transition: z-index 0.3s;
}

.emporiumPic:hover, .emporium_arrows:hover{
	border-color: $selected_text_color;
	z-index: 10;
}

$emp_unselected_width: 20vw;
.emporiumUnselected{
	top: calc((#{$emp_height} / 2) - #{$emp_unselected_width} / 2);
	height: $emp_unselected_width;
	width: $emp_unselected_width;
	background-color: $nar_background_color;
	img{
		max-width: $emp_unselected_width * 0.8;
		max-height: $emp_unselected_width * 0.8;
		margin-left: calc(#{$emp_unselected_width} * 0.1 - 4px);
	}

	span{
		font-size: 160%;
	}
}

$emp_selected_width: 27vw;
.emporiumSelected{
	top: calc((#{$emp_height} / 2) - #{$emp_selected_width} / 2);
	height: $emp_selected_width;
	width: $emp_selected_width;

	img{
		max-width: $emp_selected_width * 0.8;
		max-height: $emp_selected_width * 0.8;
		margin-left: calc(#{$emp_selected_width} * 0.1 - 4px);
	}

	span{
		font-size: 200%;
	}
}


#emporiumPic1{
	left: calc(#{$emp_margin} + 2vw);
}

#emporiumPic2{
	left: calc(#{$emp_margin} + 2vw + (#{$emp_unselected_width} / 1.5));
	z-index: 1;
}

.slide_pane_center{
	z-index: 2;
	left: (100vw - $emp_selected_width) / 2;
}

#emporiumPic4{
	right: calc(#{$emp_margin} + 2vw + (#{$emp_unselected_width} / 1.5));
	z-index: 1;
}

#emporiumPic5{
	right: calc(#{$emp_margin} + 2vw);
}

$emp_win_rate_label_height: 20vw;
$emp_win_rate_label_margin: 3vw;
.winRateLabel{
	width: 25vw;
	height: $emp_win_rate_label_height;
	margin: $emp_win_rate_label_margin;

	font-size: 220%;
	text-align: center;

	@include floating_background;
}

#personal_win_rate_label{
	float: right;
}

#global_win_rate_label{
	float: left;
}

#emp_extras{
	height: calc(100% - #{$emp_height} - #{$emp_sort_height} - (2 * #{$emp_sort_margin}) - #{$emp_win_rate_label_height} - (2 * #{$emp_win_rate_label_margin}));
	width: 100%;
	padding-left: 10vw;
	clear: both;

	overflow-y: auto;

	font-size: 200%;
}

.emp_info_list{
	margin-top: 3vh;
	font-size: 140%;
	margin-bottom: 3vh;
}

.emp_extras_title{
	text-decoration: underline;
	font-size: 200%;
}

#leaderboard_pane{
	color: $norm_text_color;

	@include nar_border;
	border-bottom: 0;

	.emp_title{
		font-weight: bold;
		width: 100%;
		margin-left: 0;
	}

	.slide_pane_center{
		left: 50vw - ($emp_selected_width / 2);
	}

	.emporiumSelectedContent{
		width: $emp_selected_width;
		margin-top: 2vh;

		text-align: center;
		font-size: 1000%;
	}

	.leaderboard_listing{
		margin-right: 10vw;
		margin-left: 10vw;
	}
}

.leaderboard_label{
	font-size: 270%;
	position: absolute;
	margin-left: 2vw;
	margin-right: 2vw;

	font-weight: 300;
}

.leaderboard_first{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 250%;
}

.leaderboard_firstName{
	font-size: 300%;
	font-weight: bold;
}

#leaderboard_list{
	font-size: 250%;
	list-style: none;

	li{
		width: auto;
	}
}

.leaderboard_listing{
	padding-top: 0.3vh;
	padding-bottom: 0.3vh;
}

#leaderboard_pane .leaderboard_me{
	font-weight: 900;
	margin-left: initial;
}

.leaderboard_mearrow{
	position: initial;
	width: 10vw;
	height: auto;

	text-align: center;
	padding-left: 2vw;
}

.leaderboard_number{
	display: inline-block;
	margin-right: 3vw;
}

.leaderboard_list_spacer{
	height: 7vh;
	position: initial;
}

#leaderboard_list_spacer{
	width: 100vw;
	font-size: 350%;
	text-align: center;
	position: initial;
	height: initial;
}

.leaderboard_content_label{
	float: right;
}

#profile_pane{
	overflow-y: auto;
	height: 100%;
	position: relative;

	@include nar_border;
	border-bottom: 0;
}

$profile_margin: 5%;
$profile_top_margin: 2.5%;
#profile_role_selector{
	font-size: 250%;
	margin-left: $profile_margin;
	margin-top: 4%;
	width: 25%;
	padding: 2%;

	background-color: transparent;
	color: $norm_text_color;
	border: $norm_text_color 2px solid;

	option{
		font-size: 30%;
		color: $black_text_color;
	}
}

.displayNameEditable{
	position: absolute;
	top: $profile_top_margin;
	font-size: 300%;
	width: 30%;
	left: 35%;
	text-align: center;
	padding-top: 2%;

	color: $norm_text_color;
}

.displayNameInput{
	display: none;
}

#profile_editName{
	top: $profile_top_margin + 0.5%;
	margin-left: 9%;
	height: auto;
	width: auto;
	margin-top: 5%;
}

.profile_editName{
	.displayNameInput{
		display: initial;
	}

	#profile_editName, #displayNameSpan{
		display: none;
	}
}

.profile_points{
	margin-top: $profile_top_margin + 1%;;
	font-size: 270%;
	float: right;
	margin-right: $profile_margin;
	color: $norm_text_color;
}

#profile_points_label, .profile_points{
	width: 15%;
	text-align: center;
}

#profile_points_label{
	float: right;
	clear: both;
	font-size: 270%;
	margin-right: $profile_margin;
	color: $norm_text_color;
}

#profile_pie_container{
	margin-top: 10%;
	margin: auto;

	clear: both;
}

#profile_text_lists{
	height: auto;
    width: 100%;
    float: left;
}

.profile_title{
	font-size: 270%;
	clear: both;
	float: left;
	margin-left: 16%;
	text-decoration: underline;
	color: $norm_text_color;
}

.profile_list{
	font-size: 250%;
	margin-left: 21%;
	clear: both;
	float: left;
	color: $norm_text_color;
	margin-bottom: $profile_top_margin * 2;

	li{
		margin-top: 2%;
	}

	a{
		color: #CFF;
	}
}

#profile_pane .logout_button{
	clear: both;
	float: left;
	margin-left: 15%;
	width: 70%;
	height: 10vh;
	font-weight: bold;
	font-size: 460%;
	border-radius: 4%;
	color: red;
	margin-top: 5%;
	margin-bottom: 5%;
}

#body_wrapper{
	display: none;
}

/* setup page */

.ticker_showing{
	height: 100vh - $nav_button_height - $chat_ticker_height - 4vh - 1vh;  //which is half of chat_ticker_height
}

$other_font_size: 0.8rem;
$invite_link_game_id_width: 25%;
$gen_settings_padding: 7%;
#setup_page, #main{
	position: absolute;
	top: $nav_button_height;

	width: 100%;
	height: 100vh - $nav_button_height;
}

#general_settings_header{
	display: none;
	height: 0;
}

@mixin nar_input{
	background: transparent;

	border: none;
	border-bottom: 0.5px solid $norm_text_color;

	color: $norm_text_color;
}

#setup_gen_settings_pane{
	position: absolute;
	height: 100vh - $nav_button_height - $chat_ticker_height;
	width: 100%;
	color: $norm_text_color;
	border: $over_view_border_color $over_view_border_thickness solid;
	border-bottom: 0;
	font-size: 1.0rem;
	overflow-y: auto;
	padding-bottom: 4vh;

	$gen_settings_margin_bottom : 5%;
	.gen_rules_input{
		padding-right: calc(#{$gen_settings_padding} + 20px);
		padding-left: $gen_settings_padding;
		position: relative;
		margin-bottom: $gen_settings_margin_bottom;
		height: initial;
	}

	.general_rules, #gen_rules_edit_name{
		position: absolute;
		right: $gen_settings_padding;
	}
	.general_rules{
		width: calc(100% - #{$invite_link_game_id_width} - 2 * #{$gen_settings_padding});
	}

	$gen_start_point: 60%;
	$gen_settings_section_margin_bottom: 30px;

	.gen_rules_text_editor{
		margin-bottom: $gen_settings_section_margin_bottom;
		input{
			position: absolute;
			width: calc(100% - #{$gen_start_point} - #{$gen_settings_padding});
			padding-right: 20px;

			@include nar_input;
			font-size: 90%;
		}
	}

	select{
		position: absolute;
		right: $gen_settings_padding;
		font-size: 100%;
		text-align-last: center;
		color: $norm_text_color;
	}

	#Day_Start, #gen_rules_edit_name_pane, .setup_input, .customizability{
		margin-bottom: 1.8 * $gen_settings_margin_bottom;

	}
}
.gen_rules_check_box{

	$gen_settings_width: 14%;
	.settings_toggle{
		position: absolute;
		padding-top: 1.5%;
		padding-bottom: 1.5%;
		top: 0;
		width: $gen_settings_width;
		text-align: center;

		border: 1px solid $norm_text_color;
		font-size: 80%;
		cursor: pointer;
	}

	.settings_off{
		right: $gen_settings_padding;
	}
	.settings_on{
		right: $gen_settings_padding + $gen_settings_width;
	}
	.settings_toggle:hover{
		font-weight: bold;
	}
}

.gen_rules_plus_minus{
	.fa{
		z-index: 0;
		height: auto;
		width: auto;
		cursor: pointer;
	}
	.fa-minus-square{
		display: none;
		left: 50%;
	}
	span{
		width: 5%;
		text-align: center;
		left: 69%;
		z-index: 0;
		font-size: 118%;
	}
	.fa-plus-square{
		display: none;
		left: 67%;
		z-index: 1;
	}

	.plus_minus_label, span, .fa{
		position: absolute;
		top: 50%;
	    transform: translateY(-50%);
	}
	.plus_minus_label{
		right: $gen_settings_padding;
	}
}

.isHost{
	.gen_rules_plus_minus{
		.fa-plus-square{
			display: initial;
			left: 67%;
		}
		.fa-minus-square{
			display: initial;
			left: 50%;
		}
		span{
			left: 59%;
		}
	}
}

.disabled_settings{
	.fa-minus-square, .fa-plus-square, #teamEditorPane .team_plus_minus{
		color: black;
	}
}

#botsCounter{
	display: none;
}

.isPrivateInstance{
	#botsCounter{
		display: block;
	}

	#publicBetaWarning{
		display: none;
	}
}

.gen_rules_section{
	height: auto;
}

#new_game_wrapper, #ingameRolesPane, #host_mode_label, #host_mode, #notMobileStartButton, #setup_chat_wrapper{
	display: none;
}


$inviteLinkHeight: 10vh;
.inviteLink{
	width: calc(100% - 2 * #{$gen_settings_padding});
	height: $inviteLinkHeight;
	position: relative;
	margin-bottom: 3%;
	margin-top: $gen_settings_padding;
	margin-right: $gen_settings_padding;
	margin-left: $gen_settings_padding;

	*{
		background-color: $nar_background_color2;
		text-align: center;
		border: 1px;
	}
}

#tabletInvite{
	display: none;
	position: fixed;
}

.gameIDBox{
	position: absolute;
	top: 0;
	height: 100%;
	padding: 5px;

	margin-top: 3px;
	margin-bottom: 3px;

	color: $norm_text_color;

	@include floating_background;

	.gameIDHeaderLabel, .gameIDArea{
		font-size: $other_font_size;
	}

	.gameIDArea{
		display: initial;
	}

	.gameIDArea{
		font-size: 1.15rem;
	}
}

.inviteLinkGameID{
	left: 0;

	width: $invite_link_game_id_width;
	margin-left: 3px;

	*{
		background: transparent;
	}
}

#publicBetaWarning{
	display: none;
	z-index: 1;
}

.gameIDHeaderLabel{
	display: block;
}

.gameIDHeaderLabelLong{
	display: none;
}

.inviteLinkURL{
	position: absolute;
	padding-top: 2%;
	right: 4px;

	width: calc(100% - #{$invite_link_game_id_width} - 9px);
	overflow: hidden;

	span{
		font-size: 1.1rem;
	}
}

.inviteUrlText{
	font-size: 0.74rem;
	color: white;
	width: 100%;
	height: 100%;

	border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	resize: none;
	background: transparent;
}

//team editor

#teamEditorBackground{
	position: fixed;
	width: 100%;
	height: 100%;

	display: none;

	opacity: 0.5;
	background: #111;
}

#teamEditorPane{
	position: fixed;
	width: 70%;
	height: 70%;

	top: 15%;
	left: 15%;

	display: none;

	background: $nar_background_color;

	@include nar_border;

	.title{
		display: block;
		top: 0;
		width: 100%;

		margin-top: 3%;
		margin-bottom: 3%;

		font-size: 1.9rem;
		text-align: center;

		color: $norm_text_color;
	}

	.fa{
		position: absolute;
		top: 0;
		right: 0;


		font-size: 400%;
		color: red;
	}

	.team_plus_minus{
		position: initial;
		float: right;
		color: $norm_text_color;
		height: initial;
		width: initial;
		font-size: 370%;
	}

	.team_plus_minus_label, .team_plus_minus_value{
		font-size: 250%;
		float: right;
	}

	.team_plus_minus_value{
		width: 8%;
		text-align: center;
	}

	.team_plus_minus_label{
		margin-right: 5%;
		margin-left: 4%;
	}
}

.teamSub{
	display: block;
	width: 25%;

	float: left;

	font-size: 1rem;
	color: #999;
	text-align: center;
	margin-bottom: 10%;
}

.teamEditorLabel{
	display: block;

	float: left;
	clear: both;
	margin-bottom: 4%;
	margin-left: 3%;

	color: $norm_text_color;
	font-size: 1rem;
}

.teamEditorDescriptionLabel{
	width: 100%;
	text-align: center;

}

.teamEditorInput{
	display: block;
	height: 4%;
	width: 47%;
	margin-right: 2%;

	float: right;

	font-size: 1rem;

	@include nar_input;
}

#teamDescription{
	clear: both;
	width: 90%;
	height: 25%;
	margin-left: 5%;

	font-size: 200%;

	background: $button_color;
}

.teamEditorButton{
	position: absolute;
	width: 46%;
	height: 7%;

	bottom: 2%;

	border-radius: 3%;

	font-weight: bold;
	font-size: 1rem;
}

#teamBack{
	left: 2%;
}

#teamSubmit{
	right: 2%;
}

#teamDelete{
	bottom: 17%;
	width: 60%;
	right: 20%;

	display: none;

	color: $button_delete_leave_color;
}

.teamEditor{
	#teamEditorBackground, #teamEditorPane{
		display: initial;
	}
}

.teamEditor1Element, .teamEditor2Element, .teamEditor3Element, .teamEditor4Element, .sheriffElement{
	display: none;
}

.teamEditor1, .teamEditor2, .teamEditor3, .teamEditor4{
	.title:before{
		content: 'Team Editor';
	}
}

.teamEditor1{
	.teamBasic{
		text-decoration: underline;
		color: $norm_text_color;
	}

	#teamBack{
		display: none;
	}

	#teamSubmit:before{
		content: 'Next';
	}

	.teamEditor1Element{
		display: initial;
	}
}

.teamEditor2{

	.teamRules{
		text-decoration: underline;
		color: $norm_text_color;
	}

	.teamEditor2Element{
		display: initial;
	}

	#teamSubmit:before{
		content: 'Next';
	}
}


.teamEditor2Element{
	width: 70vw;
	height: 40vh;
	color: $norm_text_color;
	overflow-y: auto;
	float:left;
}

.teamEditorRuleLabel{
	width: 50%;
	text-align: center;

	font-size: 250%;
	color: $norm_text_color;
	float: left;
	clear: both;
	margin-bottom: 8%;
}

.teamEditor2 .settings_toggle{
	width: 20%;
	float: left;

	font-size: 250%;
	border: 1px solid $norm_text_color;
	text-align: center;
	margin-bottom: 8%;
}



.selected_toggle{
	background-color: $button_background_color;
	color: $black_text_color;
	font-weight: bold;
	display: initial;
}


.teamEditor3{

	.teamRoles{
		text-decoration: underline;
		color: $norm_text_color;
	}

	.teamEditor3Element{
		display: initial;
	}

	span.teamEditor3Element{
		display: block;
	}

	#teamSubmit:before{
		content: 'Next';
	}
}

span.teamEditor3Element, span.teamEditor4Element, span.tieBreakerElement, span.sheriffElement{
	color: $norm_text_color;
}

span.teamEditor3Element, ul.teamEditor3Element, span.teamEditor4Element, ul.teamEditor4Element, span.sheriffElement, ul.sheriffElement{
	width: 50%;
	margin-bottom: 2%;
	float: left;

	font-size: 250%;
	text-align: center;
}

ul.teamEditor3Element, ul.teamEditor4Element, ul.sheriffElement{
	height: 50%;
	width: 47%;

	overflow-y: auto;

	@include nar_border;
}

#teamEditorAvail, #teamEditorAllies, #sheriffDetectables{
	margin-left: 2%;
	margin-right: 1%;
}

#teamEditorBlackL, #teamEditorEnemies, #sheriffHiddens{
	margin-left: 1%;
	margin-right: 2%;
}

.teamEditor4{

	.teamAllies{
		text-decoration: underline;
		color: $norm_text_color;
	}

	.teamEditor4Element{
		display: initial;
	}

	span.teamEditor4Element{
		display: block;
	}

	#teamSubmit:before{
		content: 'Tie Breaker';
	}
}

.role-strike-through{
	color: #989898;
	text-decoration: line-through;
}

.tieBreakerElement{
	display: none;
}

span.tieBreakerElement{
	font-size: 200%;
	width: 100%;
	text-align: center;
}

#tieBreakerUL{
	font-size: 1rem;
	max-height: 45vh;
	overflow-y: auto;
	li{
		position: relative;
		padding-top: 1.5%;
		padding-bottom: 1.5%;
	}
}

.tieNumberLabel{
	color: $norm_text_color;
	position: absolute;
	margin-left: 5%;
	margin-top: 0.5%;
}

.tieTextLabel{
	margin-left: 16%;
}

#teamEditorPane .tiebreakerPlusMinus{
	float: right;
	width: 4vh;
	height: 3vh;

	font-size: 1rem;
	position: initial;
	color: $norm_text_color;
}

.tieBreaker{

	.title:before{
		content: 'Tie Breaker';
	}

	.teamSub{
		display: none;
	}
	.tieBreakerElement{
		display: block;
	}

	.teamEditorButton{
		display: none;
	}
}

.sheriffView{
	.sheriffElement{
		display: initial;
	}
	.teamSub, .teamEditorButton{
		display: none;
	}

	.title:before{
		content: 'Detectable Teams';
	}
}


//end team editor

.rolesSetupPickerPane{
	position: absolute;
	display: block;
	width: 50%;

	.fa{
		position: initial;
		float: right;
		margin-right: 10%;
	}

	@include nar_border;
}

.rolesSetupHeaders{
	position: absolute;
	width: 100%;
	color: $norm_text_color;
	font-size: 1.3rem;
	text-align: center;
	padding: 2%
}

.rolesSetupList{
	position: absolute;
	width: 100%;
	padding-top: 3%;
	text-align: center;

	font-size: 1rem;
	overflow-y: auto;
	list-style: none;

	li{
		padding-top: 2.5%;
		padding-bottom: 2.5%;
		padding-left: 10%;
		padding-right: 10%;
		height: auto;

		cursor: pointer;
	}

	.rSetupFocused{
		background-color: $selected_list_element_color;
	}

	.rSetupBG{
		background-color: $selected_list_element_color_bg;
	}
}

$setup_factions_height: 30%;
$teamTieButtonMargin : 1.5%;
$tieButtonheight: 5%;
.teamTieButton{
	position: absolute;
	top: $setup_factions_height - ($tieButtonheight / 2);
	width: 25% - (1.5 * $teamTieButtonMargin);
	height: $tieButtonheight;
	border-radius: 4%;
	margin-top: $teamTieButtonMargin;
	margin-bottom: $teamTieButtonMargin;

	font-size: 0.8rem;
	font-weight: bold;
}

#tieBreakerButton{
	right: 50% + $teamTieButtonMargin;
}

#newTeamButton{
	left: $teamTieButtonMargin;
}

//available roles
#role_catalogue{ //pane
	@include nar_border;
	top: $setup_factions_height;
}



#ingameRolesPane{
	right: 0;
	top: 0;

	@include nar_border;
}



.setup_plus_minus{
	height: 8%;
	width: 8%;
	font-size: 1rem;
	padding-top: 0.5vh;
}

.rolesSetupPickerPane{
	.roleSetupCard{
		display: none;
	}
}


$overview_role_card_height: 25vh;
@media (max-device-width : 600px){
	.setup_expanded_card{

		//Roles List
		#ingameRolesPane{
			height: calc((100% - #{$overview_role_card_height}) + 1px);
			@include setupListStyle(5%);
		}

	}

	.setup_contracted_card{

		//Roles List
		#ingameRolesPane{//pane
			@include setupListStyle(4%);
		}
	}

	.setup_partial_custom.setup_expanded_card{

		//available roles
		#role_catalogue{
			top: $setup_factions_height;
			height: calc(100% - #{$overview_role_card_height} - #{$setup_factions_height});

			@include setupListStyle(10%);
		}
	}

	.setup_full_custom.setup_expanded_card{

		//available roles
		#role_catalogue{//total pane
			top: $setup_factions_height + ($tieButtonheight / 2) + $teamTieButtonMargin;
			height: calc(100% - #{$overview_role_card_height} - (#{$setup_factions_height} + (#{$tieButtonheight} / 2) + #{$teamTieButtonMargin}));

			@include setupListStyle(12%);
		}
	}



	.setup_partial_custom.setup_contracted_card{

		//Available Roles
		#role_catalogue{//total pane
			top: $setup_factions_height;
			height: 100% - $setup_factions_height;
			@include setupListStyle(6%);
		}
	}

	.setup_full_custom.setup_contracted_card{

		//available roles
		#role_catalogue{//total pane
			top: $setup_factions_height + ($tieButtonheight / 2) + $teamTieButtonMargin;
			height: 100% - ($setup_factions_height + ($tieButtonheight / 2) + $teamTieButtonMargin);

			@include setupListStyle(6%);
		}
	}

	.setup_full_custom{

		//factions
		#team_catalogue{//total pane
			@include setupListStyle(15%);
			height: $setup_factions_height - ($tieButtonheight / 2);
		}
	}

	.setup_partial_custom{
		//factions
		#team_catalogue{//total pane
			@include setupListStyle(12%);
			height: $setup_factions_height;
		}
	}
}

.setup_contracted_card{
	.roleSetupCard{
		display: none;
	}
}

.setup_partial_custom{
	.teamTieButton{
		display: none;
	}

	#charge_sdv{
		display: none;
	}
}

#role_catalogue .role_settings_pane span{
	height: 100%;
}

#team_catalogue .role_settings_pane span{
	height: 100%;
}



$card_img_size: 7vh;

.roleCard{
	position: absolute;
	width: 100%;
	height: $overview_role_card_height - $chat_ticker_height;
	bottom: $chat_ticker_height;

	overflow-y: auto;

	color: $norm_text_color;



	h2, ul, li, div{
		height: auto;
	}

	img{
		width: $card_img_size;
		height: $card_img_size;
		margin: 3% 2% 2%;
		float: left;
	}

	.roleCardHeader{
		display: block;
		width: calc(100% - #{$card_img_size});

		padding-top: 2%;
		padding-bottom: 1%;
		font-size: 1.15rem;
		font-weight: bold;
		text-align: center;
	}

	$subheader_height: 1rem;
	.roleCardSubHeader{
		display: block;
		width: calc(100% - #{$card_img_size});

		padding-bottom: 1%;

		text-align: center;
		font-size: $subheader_height;
	}

	.roleCardExplanationText{
		color: $norm_text_color;
		width: calc(100% - #{$card_img_size});
		font-size: $subheader_height;
	}

	hr{
		display: none;
		width: 60%;
		margin-left: 20%;
	}

	.roleCardSettingsAdapter{
		clear: both;
		padding-left: 8%;
		color: $norm_text_color;
		font-size: 1rem;

		li{
			padding-top: 1.5%;
		}

		input{
			height: 1.3vh;
			width: 1.3vh;
		}
	}

	#rolelist_exp_content{
		height: auto;
		display: block;
	}



	#role_exp_explanation{
		padding-bottom: 4%;
		padding-left: 20%;
		padding-right: 2%;

		font-size: 100%;
		text-align: left;
		color: white;
	}

	.role_card_extras{
		left: 0;
		padding-top: 1%;
		padding-bottom: 2%;
		height: auto;
		width: 100% - 1%;//margin

		float: left;
		clear: both;

		font-size: 1rem;

		ul{
			position: initial;
		}

		li{
			height: auto;
			margin-left: 5%;
			padding-top: 1%;

			color: white;
			text-align: left;
		}
	}
}

.roleSetupCard{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: $chat_ticker_height;
	height: $overview_role_card_height - $chat_ticker_height;

	//background-color: $setup_area;

	@include nar_border;
}

#game_play_card{
	.roleCardHeader{
		padding-top: 0;
	}
}

$editTeamButtonMargin: 4%;
$editTeamButtonHeight: 20%;
$editTeamButtonWidth: (45% / 2);
.editTeamButton{
	position: absolute;
	height: $editTeamButtonHeight;
	width: $editTeamButtonWidth;

	@include narButtonStyle;

	font-size: 70%;
	font-weight: bold;
	text-align: left;

	span{
		padding-left: 10%;
	}

	.fa{
		position: absolute;
		right: 14%;
		color: $nar_background_color;
	}
}

.editRolesButton, .editAlliesButton{
	top: $editTeamButtonMargin;
}

.editRolesButton{
	right: 27.5%;
}

.editAlliesButton{
	right: $editTeamButtonMargin / 2;
}

.editSettingsButton{
	top: (4 * $editTeamButtonMargin) + $editTeamButtonHeight;
	right: ($editTeamButtonWidth / 2) + ($editTeamButtonMargin);
}


#team_settings, #team_allies_pane, #team_allies, .nano-slider, #newTeamCreator{
	display: none;
}


#setup_lobby_pane{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh - $nav_button_height;

	color: $norm_text_color;
	@include nar_border;
	border-bottom: 0;
	z-index: 1;
}

.lobbyHeader{
	display: none;
}

#setup_players_list{
	width: 80%;
	margin-left: 10%;
	height: 100vh - $inviteLinkHeight - $chat_ticker_height - 6vh - $nav_button_height;
	overflow-y: auto;

	li{
		position: relative;
		height: auto;

		padding-bottom: 2%;
		padding-top: 2%;
		margin-top: 4%;
		margin-bottom: 4%;

		font-size: 1.2rem;
		cursor: pointer;

		span{
			margin-left: 13vw;
		}
	}

	li:hover{
		background-color: $nar_background_color2;
	}

	li:active{
		background-color: $nar_background_button_press;
		border-radius: 3% 10%;

		span{
			font-weight: bold;
		}
	}


}

.playerListSetupMarking{
	width: auto;
	height: auto;
	position: absolute;
	left: 3vw;
	top: 50%;
    transform: translateY(-50%);
	color: #666;
}

.nano-pane{
	z-index: -2;
}


//for all those r0, r1, t2, t3 stuff
#settings_popup{
	display: none;
}

/* end setup page */


/* main page */
#chat_send_form{//this can just be repurposed to only use the one form, and make it visible everywhere else
	height: 0;
}

#roleList_content ul{
	left: 0;
}
#graveyard_pane{
	left: 50%;
}


.overview_border{
	border: $over_view_border_thickness solid $over_view_border_color;
}


$overview_header_padding : 1%;

/*need to make sure this scrolls*/
.overview_list_content{
	padding-top: $overview_header_padding;
	position: absolute;
	height: calc(100% - #{$overview_role_card_height} - #{$chat_ticker_height});
	width: 50%;
	top: 0;
	//bottom: calc(#{$overview_role_card_height} + #{$chat_ticker_height});
	text-align: center;

	$header_text_size :1.2rem;
	$header_height : 10%;
	.overview_list_header{
		color: $norm_text_color;
		padding-bottom: $overview_header_padding;
		height: auto;
		*{
			font-size: $header_text_size;
		}
	}

	ul{
		height: calc(100% - #{$header_height});
		width: calc(100% - 2px);
		overflow-y: auto;
		list-style: none;
	}

	li{
		height: auto;
		font-size : 1rem;
	}


}


$overview_image_height: 20%;
$image_left_padding : 4%;

#game_play_card{

	height: $overview_role_card_height;

	.role_card_extras{
		list-style-type: square;
		margin-left: 1%;
	}
}




$pic_size: 12vw;
#your_exp_pane{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;

	color: $norm_text_color;
	font-size: 240%;

	h2, li, div{
		height: auto;
	}

	img{

		width: $pic_size;
		height: $pic_size;
		margin-bottom: 6%;
	}

	//your name
	.roleCardHeader{
		font-size: 1.4rem;
		padding-right: ($pic_size / 2);
	}

	.roleCardSubHeader{
		font-size: 1.2rem;
		padding-right: ($pic_size / 2);
	}

	.roleCardExplanationText{
		font-size: 100%;
	}

	.left_toggle_border{
		left: 50%;
	}

	.right_toggle_border{
		right: 50%;
	}
}


#your_exp_header{
	height: 10%;
}

#your_exp_content{
	height: 20%;
}

#your_exp_header *{
	text-align: center;
}

#your_exp_img_explanation{
	position: relative;
	height: 60%;
	width: 100%;

	#your_rolepic{
		top: 0;
		position : absolute;

		img{
			width: 40%;
		}
	}

	#your_exp_explanation{
		position: absolute;
		font-size: 76%;
		top: 30%;
		left: calc(#{$overview_image_height} + (2 * #{$image_left_padding}));
		width: 60%;
	}
}

$last_will_button_height: $nav_button_height - 1vh;
$last_will_bottom: $chat_ticker_height + $chat_ticker_height;
$your_extras_height: 100vh - $nav_button_height - $last_will_bottom - $last_will_button_height - $chat_ticker_height;
#your_exp_extras{
	padding-left: 4%;
	padding-right: 4%;

	font-size: 1.01rem;
	overflow-y: auto;

	max-height: calc(#{$your_extras_height} - #{$pic_size}); //aka $your_role_img_height

	.your_exp_spacer{
		margin-bottom: 5%;
	}


	li{
		list-style-type: square;
	}
}


#last_will_area{
	display: none;
	position: absolute;
	width: 90%;
	height: 100vh - $chat_ticker_height - $chat_ticker_height - $last_will_button_height - 4vh - 10vh;
	top: 10%;
	left: 5%;
	padding: 2%;
	border-radius: 2%;
	z-index: 1;

	font-size: 1rem;
	background-color: $button_color;
}

#last_will_button{
	position: absolute;
	margin-bottom: 10px;
	bottom: $last_will_bottom;
	width: 56%;
	left: 22%;

	height: $last_will_button_height;
	border: 1px solid;
	border-radius: 15%;

	font-size: 2rem;
	background-color: $button_color;
	z-index: 2;
}

.lw_toggle{
	position: absolute;
	bottom: $chat_ticker_height + 2vh;
	height: $last_will_button_height / 2;
	width: 25%;
	font-size: 130%;
	text-align: center;
	padding: 1%;
	z-index: 2;
}



.lw_none{
	.last_will_item{
		display: none;
	}
}

.lw_single{
	.lw_toggle{
		display: none;
	}

	#last_will_button{
		display: block;
	}
}

.lw_double{

	#last_will_button{
		display: block;
	}

	.lw_toggle{
		border: 1px solid $norm_text_color;
	}
}

#vote_recap_pane{
	width: 100%;
	height: 100vh - $chat_ticker_height;

	@include nar_border;
}

$vc_button_margin_t_b: 3%;
.vc_header{
	font-size: 1.2rem;
	float: left;
	margin-top: $vc_button_margin_t_b;
	height: 6vh;
}

$vc_button_width: 25%;
$vc_button_margin_l_r: 3%;
.vc_buttons{
	width: $vc_button_width;
	margin-left: $vc_button_margin_l_r;
	margin-right: $vc_button_margin_l_r;
	border-radius: 20%;
	display: inline-block;
}

#vc_header_label{
	position: absolute;
	left: (2 * $vc_button_margin_l_r) + (1 * $vc_button_width);
	color: $norm_text_color;
	width: 100% - (4 * $vc_button_margin_l_r) - (2 * $vc_button_width);
	text-align: center;
	font-size: 1.3rem;
}

#next_day_vc{
	float: right;
}

#vote_pane_list{
	clear: both;
	float: left;
	height: auto;
	width: 100%;

	font-size: 1.3rem;
	color: $norm_text_color;
}

.vc_people2Person{
	margin-bottom: 16%;
}

.observer_player{
	font-size: 1.5rem;
	text-decoration: underline;
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 4%;
}

.vc_voteeElement{
	float: left;
	width: 50%;
	text-align: center;
	list-style: none;
}

.vc_leftVoter{
	padding-left: 15%;
}
.vc_rightVoter{
	padding-right: 15%;
}

.vc_lastVoter{
	width: 100%;
	text-align: center;
}

$the_button_margin_bottom: 1vh;
#action_nav_pane{
	position: fixed;
	display: none;
	height: 100vh - $chat_ticker_height - $nav_button_height;
	width: 100%; //overrides the 50% in over_view_list_content
	top: $nav_button_height;
	overflow-x: hidden;
	*{
		overflow-x: hidden;
	}
}

#action_nav_pane .playerListSetupMarking {
	overflow: hidden;
}

$action_header_font_size : 1.7rem;
$action_header_padding: 1%;
#playerListPane2{
	width: 100vw;
	height: 100vh - $nav_button_height;
	border: 1px $over_view_border_color solid;
	position: fixed;
	top: $nav_button_height;
}


#playerList_header{
	height: $ability_header_size; //defined in shared
	width: 100%;
	overflow-y: hidden;

	span{
		width: 100%;
		height: $ability_header_size;
		text-align: center;
		font-size: $action_header_font_size;
		padding: $action_header_padding 0 $action_header_padding 0;
		overflow-y: hidden;
	}

	.action_changer{
		position: absolute;
		margin-top: $action_header_padding;
		width: $ability_header_size;
		height: $ability_header_size;
		font-size: 15px;
		cursor: pointer;
	}

	#arrow1{
		left: 50px;
	}

	#arrow2{
		right: 50px;
	}
}


#player_list{
	position: absolute;
	top: $ability_header_size;
	width: 100%;
	overflow-y: auto;
	list-style: none;
	padding-bottom: 3%;

	$targetable_span_width: 50%;
	.action_targetable_element{
		height: auto;
		text-align: center;

		font-size: 1rem;
	}

	$action_targetable_element_margin: 2.5%;
	select.action_targetable_element{
		margin-left: (100% - $targetable_span_width) / 2;
		margin-right: (100% - $targetable_span_width) / 2;
		width: $targetable_span_width;

		text-align: center;
		text-align-last: center;
		margin-top: 1.5 * $action_targetable_element_margin;
		margin-bottom: 1.5 * $action_targetable_element_margin;

		option{
			font-size: 50%;
		}

	}

	$targetable_span_width: 56vw;
	$targetable_border_radius : 15px;
	li.action_targetable_element{
		position: relative;
		margin-left: (100vw - $targetable_span_width) / 2;
		width: $targetable_span_width;

		color: $norm_text_color;
		background-color: $target_deselected;
		z-index: 0;

		cursor: pointer;

		border: 1px $over_view_border_color solid;
		border-radius: $targetable_border_radius;
		margin-top: $action_targetable_element_margin;
		margin-bottom: $action_targetable_element_margin;
		padding-top: 0.5vh;
		padding-bottom: 0.5vh;

		.targetable_half{
			position: absolute;
			width: 50%;
			height: 100%;
			top: 0;
			z-index: -1;
		}

		.left_targetable, .left_targetable_click{
			left: 0;
		}


		.right_targetable, .right_targetable_click{
			left: 50%;
		}

		.left_targetable_click, .right_targetable_click{
			z-index: 5;
		}

		.playername{
			$playername_margin: 10vw;
			left: 0;
			color: white;
			width: 100%;
			height: 100%;
			padding-top: 8px;
			padding-bottom: 8px;
			top: 0;
			text-align: center;
			max-width: $targetable_span_width - $playername_margin - $playername_margin;
			margin-left: $playername_margin;
		}

		.left_playerList_selected{
			background-color: $target_selected;
			border-radius: $targetable_border_radius 0 0 $targetable_border_radius; /* top left, top right, bottom right, bottom left */
		}

		.right_playerList_selected_red{
			background-color: $target_selected;
			border-radius: 0 $targetable_border_radius $targetable_border_radius 0; /* top left, top right, bottom right, bottom left */
		}

		.right_playerList_selected_green{
			background-color: $target_half_right_selected;
			border-radius: 0 $targetable_border_radius $targetable_border_radius 0; /* top left, top right, bottom right, bottom left */
		}

		.targetable_hovering{
			background-color: $target_selected_hover;
		}

		.targetable_active{
			background-color: $target_active;
		}
	}

	li.action_targetable_element:first-of-type{
		margin-top: 0;
	}


} //end styling for #playerListPane2


#actions_pane{
	position: fixed;
	bottom: $chat_ticker_height;
	width: 100vw;


	overflow-x: initial;
	*{
		overflow-x: initial;
	}

	#add_action{
		margin-left: 15%;
	    height: 5vh;
	    width: 70%;
	    font-size: 150%;
	}

	$submitted_action_header_font_size: 1.2rem;
	#actions_header{
		top: 0;
		width: 100%;
		height: auto;

		font-size: $submitted_action_header_font_size;
		text-align: center;
		overflow-y: hidden;
	}

	#actions_content{
		top: $submitted_action_header_font_size;
		padding-top: 5px;
		overflow-y: auto;
		//height: auto;//calc(100% - 7% - #{$the_button_height} - #{$the_button_margin_bottom});
		//width: 50%;
		font-size: 0.87rem;
		li{
		    color: $norm_text_color;
			text-align: left;
			height: auto;
			padding-bottom: 10px;
			margin-left: 10%;
			display: list-item;
			list-style-type: decimal;
		}
	}


}

$button_width: 60vw;
#end_night_button{
	position: absolute;
	margin-top: $the_button_margin_bottom;
	margin-bottom: $the_button_margin_bottom;
	padding: 0 2% 0 2%;
	width: $button_width;
	left: (100vw - $button_width) / 2;
	bottom: 0;

	cursor: pointer;

	font-size: 1.2rem;
	background-color: $button_color;
	font-weight: bold;

	*{
		width: 100%;
		border-radius: 3%;
	}
}

.pl_no_actions{

	#actions_header{
		display: none;
	}

	#player_list{
		height: 100vh - $nav_button_height - $ability_header_size - $chat_ticker_height;
	}

	#actions_content{
		display: none;
	}

	#end_night_button{
		display: none;
	}
}

//copy of below
.pl_show_actions{

	$submitted_actions_height : 25vh;
	#actions_header{
		display: block;
	}
	#actions_pane{
		height: $submitted_actions_height;
		border-top: 1px $over_view_border_color solid;
	}
	#actions_content{
		display: list-item;
	}
	#player_list{
		height: 100vh - $nav_button_height -$ability_header_size - $submitted_actions_height - $chat_ticker_height;
	}
	#end_night_button{
		height: $the_button_height;
		input{
			height: 80%;
		}
	}
}

//copy of above
.pl_show_actions_no_button{
	$submitted_actions_height : 20vh;
	#actions_header{
		display: block;
	}
	#actions_pane{
		height: $submitted_actions_height;
		border-top: 1px $norm_text_color solid;
	}
	#actions_content{
		display: list-item;
	}
	#player_list{
		height: 100vh - $nav_button_height - $ability_header_size - $submitted_actions_height - $chat_ticker_height;
	}
	#end_night_button{
		display: none;
	}
}

.pl_only_button{
	$submitted_actions_height : $pl_only_button_height;
	#actions_header{
		display: none;
	}

	#actions_content{
		display: none;
	}

	#player_list{
		height: 100vh - $nav_button_height -$ability_header_size - $submitted_actions_height - $chat_ticker_height;
	}

	#actions_pane{
		//height: $submitted_actions_height / 2;
	}
	#end_night_button{
		height: $the_button_height * 1.5;

		input{
			height: 80%;
		}
	}
}

#settings_pane{
	position: absolute;
	top: 0;
	width: 100%;
	padding-top: 2vh;
	height: 100vh - $chat_ticker_height;

	@include nar_border;

	.settings_toggle{
		width: 15vw;
		padding: 0.5vh 0;
		margin-bottom: 1vh;

		position: absolute;
		cursor: pointer;

		bottom: 0.5vh;


		text-align: center;
		font-size: 1rem;
		color: $norm_text_color;

		@include nar_border;
	}

	.settings_toggle:hover{
		font-weight: bold;
	}

	.selected_toggle{
		color: $black_text_color;
	}

	.left_toggle_border{
		margin-right: 4vw;
		padding-right: 0;
		right: 0;
	}

	.right_toggle_border{
		right: 15vw + 3vw;
	}
}

.settings_item{
	position: relative;
	height: auto;
	width: 94vw;
	margin-left: 3vw;
	overflow: hidden;

	background-color: #333;

	@include nar_border;
	border-top: 0;
}



.settings_item_first{
	border-radius : 2% 2% 0 0;
	padding-top: 1vh;

	@include nar_border;
}

.settings_item_last{
	@include nar_border;
	border-top: 0;
	border-radius : 0 0 2% 2%;
}

.settings_title{
	font-size: 1rem;
	margin-left: 3vw;
	width: 94vw;
	font-weight: bold;
	color: $norm_text_color;

}

.settings_label{
	font-size: 1rem;
	padding-top : 2vh;
	padding-bottom : 2vh;
	padding-left: 3vw;
	color: $norm_text_color;
	display: block;
}

.host_action{
	cursor: pointer;
}

.host_action:hover{
	background-color: $nar_background_color;
}

#settings_music_link{
	display: block;
	color: #ADD8E6;
	font-size: 0.75rem;
	width: 100vw;
	text-align: center;

	margin-top: 1vh;
	margin-bottom: 1vh;
}

.host_setting, .firstPhaseHostAction{
	display:none;
}

.isHost .host_setting{
	display: block;
}

.isHost.isFirstPhase .firstPhaseHostAction{
	display: block;
}

#host_settings_title{

}


#leaveGameButton{
	width: 66%;
	margin-top: 10%;
	margin-left: 17%;

	height: $last_will_button_height;
	border: 1px solid;
	border-radius: 15%;

	font-size: 400%;
	background-color: $button_delete_leave_color;
	display: none;
}

#chat_tabs_wrapper{
	position: absolute;
	height: calc(100% - #{$nav_button_height});
	bottom: 0;
	width: 100%;
	display: none;
	z-index: 1;
}


#chat_tabs{
	position: absolute;
	height: auto;
	max-height: 100%;
	bottom: 0;
	width: 100%;
	overflow-y: auto;
	display: inline-flex;
	flex-direction: column;
	color: $norm_text_color;

	div{
		cursor: pointer;
	}

	a{
		width: 100%;
		display: list-item;
		text-align: center;
		border: 1px $norm_text_color solid;
		font-size: 1.7rem;
		padding : 2.5%;

	}

	.unread_ticker{
		color: $unread_ticker_color;
	}

	.activeTab{
		a{
			background: $selected_tab_color;
		}
	}

	.fa{
		width: initial;
		height: initial;
		position: initial;
		margin-left: 0.3vw;
		margin-right: 0.5vw;
	}
	.chatTabIcon{
		display: none;
	}

	.chatPointer{
		display: none;
	}
}



#chat_header, #game_info_header{
	display: none;
}

.chat li:hover{
	background-color: $target_selected_hover;
}

#pregame_messages li{
	position: relative;
}

#messages li{
	position: relative;
	font-size: 1rem;
	.headerLabel{
		font-size: 1.4rem;
	}
	padding-bottom: 0.5vh;
}

.speakerLabel, .speakerText{
	margin-left: 15vw;
}

.speakerLabel{
	display: block;
	font-weight: 900;
	font-size: 1rem;
}

.speakerText{
	color: white;
	font-size: 1rem;
}

.chatPic{
	padding-top: 1.4vh;
	position: absolute;
	top: 0;
	width: 15vw;
	text-align: center;
}

#pregame_messages .chatPic{
	font-size: 1.7rem;
}

#messages .chatPic{
	font-size: 1.5rem;
}

.chat_pane{
	position: absolute;
	top: 0;
	width: 100%;

	@include nar_border;

	li{
		height: auto;
		width: 100%;
		color: $norm_text_color;

		.headerLabel{
			margin: 3% 0 3% 0;
			text-align: center;
		}
	}
}

.chat{
	height: 100vh - $chat_ticker_height - $nav_button_height;
	padding-bottom: 0.5vh;

	list-style: none;

	li{
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 0.4%;
		padding-bottom: 0.4%;
	}
}

#setup_chat_pane .chat_input, #main .chat_input{
	display: none;
}

#main .chat_pane{
	height: 100%;
}

#puppetIcon{
	display: none;
	position: absolute;
	bottom: $chat_ticker_height;
	left: 0;

	height: auto;
	width: 6.5vw;

	margin-bottom: 1%;
	padding-left: 1.5%;
	padding-top: 0.5%;

	font-size: 0.85rem;

	@include nar_border;
	border-right: 0;
	border-bottom: 0;
}

#puppetText{
	position: absolute;
	display: none;

	bottom: $chat_ticker_height;
	left: 6.5vw;
	padding: 0.5% 1.5% 0 1.5%;
	margin-bottom: 0.5%;

	color: $norm_text_color;
	font-size: 0.75rem;

	@include nar_border;
	border-left: 0;
	border-bottom: 0;
}

#puppetList{
	position: absolute;
	display: none;

	bottom: $chat_ticker_height;

	list-style: none;
	font-size: 1rem;
	color: $norm_text_color;
	background: $nar_background_color;

	li{
		padding-top: 1vh;
		padding-bottom: 1vh;
		padding-left: 9vw;
		padding-right: 6vw;

		@include nar_border;
		border-bottom: 0;
	}

	.puppetIco{
		display: none;
		height: auto;
		position: absolute;
		left: 2vw;
	}

	.selectedPuppet{
		background-color: $nar_background_color2;

		.puppetIco{
			display: initial;
		}
	}
}

.chat_input{
	bottom: 0;
	height: $chat_ticker_height;
	position: absolute;
	display: none;
	width: 100%;
	padding: 0 2% 0 2%;
	z-index: 2;
	font-size: 200%;
}

.chat_active{
	.chat_input{
		display: initial;
	}
}

.puppetsShowing{

	#puppetText, #puppetIcon{
		display: initial;
	}

	.chat{
		height: calc(100% - #{$chat_ticker_height} - 3vh);
	}
}

.chat_send_button{
	display: none;
}


.backdropPopup{
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
	display: none;
}

.newFeedbackPopup{
	position: absolute;
	top: 0;
	margin-top: 20vh;
	height: 60vh;
	margin-left: 10vw;
	width: 80vw;
	background: $nar_background_color;
	z-index: 20;

	@include nar_border;
}

.newFeedbackHeader{
	text-align: center;
	font-size: 1.5rem;
	color: $norm_text_color;
}

.feedbackPic{
	height: 60vw;
	width: 60vw;
	z-index: 6;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.newFeedbackContents{
	font-size: 1rem;
	color: $norm_text_color;
	list-style: none;
	margin-left: 3%;
	margin-right: 3%;
	overflow-y: auto;
	max-height: 30%;
}

.feedbackNext{
	width: 80%;
	position: absolute;
	right: 10%;
	font-size: 1.9rem;
	font-weight: 800;
	bottom: 2%;

	z-index: 20;

	cursor: pointer;
	background-color: $button_color;
	border-radius: 5%;
}

.feedbackNext:hover{
	background-color: #FFD2D2;
}

#userPopupBackdrop{
	position: fixed;
	top: 0;
	z-index: 1;
}

#userPopup{
	display: none;
	position: absolute;
	width: 80vw;
	height: 60vh;
	top: 20vh;
	left: 10vw;
	z-index: 1;

	@include nar_border;
	border-width: 3px;
	border-color: #111;

	background-color: $nar_background_color;
	color: $norm_text_color;

	font-size: 600%;
}

#userPopupContainer{
    display: block;
    height: 40vh;
    width: 80vw;
    transform: translateY(-5vh);
}

.userPopupHeader{
	text-align: center;
	color: $norm_text_color;
	font-size: 1.8rem;
	margin-top: 2vh;
}

.userPopupButton{
	width: 100%;
	position: absolute;
	font-size: 1rem;
	color: $norm_text_color;
	background-color: $nar_background_color2;
	height: 6vh;
	text-align: center;
}

.userPopupButton:hover{
	background-color: #555;
}

.userPopupButton:active{
	background-color: $nar_background_button_press;
}

#userPopupRepick{
	bottom: 6vh;
}

#userPopupKick{
	bottom: 0;
}

#userPopupKick:active{
	background-color: #990033;
}

#userPopupExtras{
	color: $norm_text_color;
	font-size: 1.1rem;
	list-style: none;
	padding-left: 3vw;
	padding-right: 3vw;

}

.roleHover:hover {
	text-decoration: underline;
	font-style: italic;
	cursor: pointer;
}

.center_parent{
	display: table;
}

.center_child{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

@media (max-device-width : 600px){
	#mobile{
		color: rgb(255, 165, 0);
	}

	.keyboardUp{
		.nav_bar, .inviteLink{
			display: none;
		}

		#lobby_page, #setup_page, #main{
			top: 0;
			height: 100%;
		}

		#logo{
			top: -3vh;
			width: 60%;
			left: 20%;
		}

		#home_pane{
			border: initial;
		}

		#gameCodeBox{
			top: 32%;
			height: 100% - 32%;

			.gameCodeButtons{
				height: 1.5 * $close_game_widgeth_heights;
			}

			.gameCodeInputFields{
				margin-bottom: 4%;
			}
		}

		#setup_gen_settings_pane{
			padding-top: 15%;
			overflow-y: initial;
		}

		#teamEditorPane{
			top: 5%;
			height: 90%;
		}

		.teamSub{
			display: none;
		}

		.teamEditorLabel{
			font-size: 240%;
		}

		.teamEditorInput{
			height: 8%;
		}

		.teamEditorButton{
			bottom: 5%;
			height: 12%;
		}

		.chat_input{
			height: 12vh;
		}

		.chat_pane{
			border: 0;
		}

		#last_will_button{
			height: 20vh;
			bottom: 6vh;
		}
	}
}
